.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0 16px;
}

.row-edit-header {
    display: flex;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 24px auto 40px;
    max-width: 520px;
    min-width: 300px;
    width: 96%;
}

.widget {
    display: grid;
    grid-template-columns: 0 1fr 36px;
}

.widget-info {
    margin-left: auto;
    margin-top: 16px;
}

.widget-info_centered {
    align-self: center;
    margin-top: -18px;
}

.actions {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    height: 64px;
    padding: 0 max(calc(50vw - 260px), 2%);
    width: 100vw;
}

.actions__continue {
    margin-left: auto;
    margin-right: 20px;
}