.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0 16px;
}

@media (width <= 600px) {
    .wrapper {
        padding: 36px 9vw 16px;
        width: 100vw;
    }
}

.row-edit-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media (width <= 600px) {
    .row-edit-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        width: 100%;
    }
}

.row-actions_desktop {
    display: flex;
    align-items: center;
    gap: 4px;
}

@media (width <= 600px) {
    .row-actions_desktop {
        display: none;
    }
}

.row-actions_mobile {
    display: none;
}

@media (width <= 600px) {
    .row-actions_mobile {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin: 24px auto 40px;
    max-width: 520px;
    min-width: 300px;
    width: 100%;
}

/* @media (width <= 600px) {
    .form {
        width: 96%;
    }
} */

.related-views {
    position: fixed;
    top: calc(52px + 96px);
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    height: calc(100vh - 52px - 64px - 96px);
    max-width: 520px;
    min-width: 300px;
    overflow: auto;
    padding-right: 20px;
    width: max(calc(45vw - 260px), 2%);
}

@media (width <= 1280px) {
    .related-views {
        position: initial;
        height: auto;
        margin: 12px 0 4px;
        padding: 4px 2px;
        width: 100%;
    }

    .related-views__title {
        padding: 0 10px;
    }
}

.related-records {
    list-style: none;
}

.related-record {
    border-bottom: 1px solid gray;
}

.related-tables {
    margin-top: -4px;
}

@media (width <= 600px) {
    .related-tables {
        margin: 4px -14px 0;
    }
}

.related-tables ::ng-deep .mat-mdc-standard-chip {
    background-color: transparent !important;
}

.related-tables ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__action--primary::before {
    border: 1px solid var(--mdc-chip-elevated-container-color) !important;
}

.widget {
    display: grid;
    grid-template-columns: 0 1fr 36px;
}

.widget-info {
    margin-left: auto;
    margin-top: 12px;
}

.widget-info_centered {
    align-self: center;
    margin-top: -18px;
}

.actions {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mat-sidenav-content-background-color);
    box-shadow: var(--shadow);
    height: 64px;
    padding: 0 max(calc(50vw - 260px), 2%);
    width: 100vw;
}

@media (prefers-color-scheme: dark) {
    .actions {
        --shadow: 0 3px 1px -2px rgba(0,0,0,.5),0 2px 2px 0 rgba(0,0,0,.64),0 1px 5px 0 rgba(0,0,0,0.85);
    }
}

@media (prefers-color-scheme: light) {
    .actions {
        --shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    }
}

.actions__continue {
    margin-left: auto;
    margin-right: 20px;
}

.error-details {
    margin-top: 8px;
}