.encription-setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.encription-password {
	display: flex;
	flex-direction: column;
	margin-top: 32px;
	width: 100%;
}

.encription-password__field {
	display: flex;
	align-items: center;
	width: 100%;
}

.encription-password__copy-button {
	margin-top: -20px;
	margin-left: -40px;
}

.docs-notification {
	display: flex;
	gap: 8px;
	background-color: var(--bg-color);
	border-left: 12px solid #ff6f00;
	color: var(--mat-sidenav-content-text-color);
	margin-top: -8px;
	padding: 16px 12px;
}

.docs-notification {
	--bg-color: var(--ra-surface);
}

.docs-notification__warning {
	line-height: 1.55em;
	margin-bottom: 8px;
}

.docs-link {
	color: #ef6c00;
	font-weight: 500;
	text-decoration: none;
}
