.encription-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.encription-password {
    display: flex;
    margin-top: 32px;
    margin-bottom: 20px;
    width: 100%;
}

.encription-password__copy-button {
    margin-top: 4px;
    margin-left: 12px;
}