.encription-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.encription-password {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    width: 100%;
}

.docs-notification {
    display: flex;
    gap: 8px;
    background-color: var(--bg-color);
    border-left: 12px solid #FF6F00;
    color: var(--mat-sidenav-content-text-color);
    margin-top: -8px;
    padding: 16px 12px;
}

@media (prefers-color-scheme: dark) {
    .docs-notification {
        --bg-color: #292929;
    }
}

@media (prefers-color-scheme: light) {
    .docs-notification {
        --bg-color: #F4F4F4;
    }
}

.docs-link {
    color: #EF6C00;
    font-weight: 500;
    text-decoration: none;
}