<h1 mat-dialog-title>Log details</h1>
<div mat-dialog-content>
    <p class="mat-body" data-block="preamble" data-hj-suppress>
      {{ log.User }} {{ action }} in {{ log.Table }} table on {{formattedCrreatedAt}} {{ log.Status }}.
    </p>

    <div *ngIf="diffFields.length > 0; else oneRowDetails" class="details" data-block="comparison-details">
        <table>
          <tr *ngFor="let field of fields" attr.data-line="{{field}}-field"
            class="mat-body"
            [ngClass]="{changed: isChangedFiled(field)}">
            <th>{{field}}</th>
            <td data-hj-suppress>{{log.prevValue[field]}}</td>
            <td data-hj-suppress>{{log.currentValue[field]}}</td>
          </tr>
        </table>
    </div>

    <ng-template #oneRowDetails>
      <div *ngIf="log.currentValue" class="details" data-block="one-row-details" data-hj-suppress>
        <div *ngFor="let field of log.currentValue | keyvalue">
          <b>{{field.key}}: </b> <span>{{field.value}}</span>
        </div>
      </div>
    </ng-template>


</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close mat-dialog-close>Ok</button>
</div>
