<h1 mat-dialog-title>Add user to <strong>{{ data.group.title }}</strong> group</h1>
<form #addUserForm="ngForm" (ngSubmit)="joinGroupUser()">
  <mat-dialog-content>
    @if (data.availableMembers.length) {
      <mat-form-field appearance="outline">
        <mat-label>Select user</mat-label>
          <mat-select name="email" required
              [(ngModel)]="groupUserEmail">
              @for (member of data.availableMembers; track member.id) {
                <mat-option [value]="member.email">
                  @if (member.name) { <span>{{member.name}} (</span> }{{member.email}}@if (member.name) { <span>)</span> }
                </mat-option>
              }
          </mat-select>
      </mat-form-field>
      <p class="mat-body-2">
        Add users to the
        <a routerLink="/company" class="link" mat-dialog-close>
          Company</a> before assigning them to a group.
      </p>
    }
    @if (data.availableMembers.length === 0) {
      <p class="mat-body-2">
        All your company members are already in this group. To add a new one first add them to your company.
      </p>
    }
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" mat-flat-button mat-dialog-close>Cancel</button>
    @if (data.availableMembers.length) {
      <button type="submit"
        mat-flat-button color="primary"
        [disabled]="submitting() || addUserForm.form.invalid">
        Add
      </button>
    } @else {
      <a mat-flat-button mat-dialog-close
        color="primary"
        routerLink="/company">
        Open Company page
      </a>
    }
  </mat-dialog-actions>
</form>
