h2[mat-dialog-title] {
	display: flex;
	align-items: center;
	gap: 8px;
}

.title-icon {
	color: var(--color-primaryPalette-500);
}

mat-dialog-content {
	min-width: 350px;
}

@media (width <= 600px) {
	mat-dialog-content {
		min-width: auto;
	}
}

.description {
	color: var(--ra-text-muted);
	margin: 0 0 24px 0;
}

.full-width {
	width: 100%;
}
