<div class="binary-view">
    <span class="field-view-value binary-view-value"
        [matTooltip]="isTruncated() ? encodedValue() : ''"
        matTooltipPosition="above">{{ displayText() }}</span>
    @if (encodedValue()) {
        <button type="button" mat-icon-button
            class="binary-view-copy"
            [matTooltip]="copyTooltip()"
            [cdkCopyToClipboard]="encodedValue()"
            (cdkCopyToClipboardCopied)="onCopyToClipboard.emit('Binary data was copied to clipboard.')">
            <mat-icon>content_copy</mat-icon>
        </button>
    }
</div>
