.password-field {
    width: 100%;
}

.password-requirements {
    list-style: none;
    columns: 2;
    gap: 60px;
    margin-top: 2px;
}

.password-requirements li::before {
    content: '—';
}

.error {
    color: #E53935;
}

.success {
    color: #43A047;
}