.password-field {
	margin-bottom: -16px;
	width: 100%;
}

.password-requirements {
	list-style: none;
	columns: 2;
	gap: 60px;
	margin-top: 2px;
}

.password-requirements li::before {
	content: "—";
}

.error {
	color: var(--color-warnPalette-500);
}

.success {
	color: var(--color-successPalette-500);
}
