<div class="field-display">
  @if (isImageType) {
    @if (isLoading) {
      <mat-spinner diameter="24" class="s3-spinner"></mat-spinner>
    } @else if (previewUrl) {
      <img
        class="s3-thumbnail"
        [src]="previewUrl"
        alt="S3 Image">
    } @else if (value()) {
      <span class="field-value">[S3 Image]</span>
    }
  } @else {
    <span class="field-value">{{value() || '—'}}</span>
  }

  @if (value()) {
    <button type="button" mat-icon-button
        class="field-copy-button"
        matTooltip="Copy S3 key"
        [cdkCopyToClipboard]="value()"
        (cdkCopyToClipboardCopied)="onCopyToClipboard.emit('S3 key was copied to clipboard.')"
        (click)="$event.stopPropagation()">
        <mat-icon>content_copy</mat-icon>
    </button>
  }
</div>
