.wrapper {
    display: grid;
    grid-template-columns: auto 62.5%;
    grid-column-gap: 24px;
    height: 100%;
    padding: 40px 24px;
}

@media screen and (max-width: 600px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}

.registrationTitle {
    font-weight: 700;
    margin-top: -4px;
    margin-bottom: 32px;
}

.registrationTitle__emphasis {
    color: var(--color-accentedPalette-500)
}

.register-form-box {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-bottom: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 48px;
}

@media screen and (max-width: 600px) {
    .register-form {
        width: 90%;
    }
}

.mat-h1 {
    align-self: center;
    margin-top: 20px;
    font-weight: 500;
    text-align: center;
    width: 75%;
}

@media screen and (max-width: 600px) {
    .mat-h1 {
        margin-top: 32px;
        margin-bottom: 32px;
        width: 100%;
    }
}

.divider {
    position: relative;
    background-color: #E8E8E8;
    height: 1px;
    margin: 24px 0;
    width: 100%
}

.divider__label {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    font-size: 14px;
    padding: 0 16px;
}

@media screen and (max-width: 600px) {
    #google_registration_button ::ng-deep iframe {
        width: 100% !important;
    }
}

.password-field {
    margin-top: 8px;
}

.soc-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #66BCFF;
    border: none;
    border-radius: 4px;
    color: #fff;
    line-height: 36px;
    font-weight: 500;
    cursor: pointer;
}

.soc-button-icon {
    height: 16px;
    margin-right: 12px;
}

.submit-button {
    margin-top: 64px;
}

.register-image-box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #E8F1EA;
    border-radius: 12px;
    height: calc(100vh - 120px);
    overflow: hidden;
    padding-top: 3vw;
}

@media screen and (max-width: 600px) {
    .register-image-box {
        display: none;
    }
}

.password-visibility-button {
    cursor: pointer;
}

.register-image {
    /* margin: 0 -1.5vw;
    transform: translateX(-70%);
    height: 84.5vh; */
    height: 85vh;
}

.agreement {
    margin-top: auto;
}

.link {
    color: var(--color-accentedPalette-500);
}
