<div class="wrapper skeleton">
    <div class="record-field">
        <div class="bone record-field__key"></div>
        <div class="bone record-field__value"></div>
    </div>
    <div class="record-field">
        <div class="bone record-field__key"></div>
        <div class="bone record-field__value"></div>
    </div>
    <div class="record-field">
        <div class="bone record-field__key"></div>
        <div class="bone record-field__value"></div>
    </div>
    <div class="record-field">
        <div class="bone record-field__key"></div>
        <div class="bone record-field__value"></div>
    </div>
    <div class="record-field">
        <div class="bone record-field__key"></div>
        <div class="bone record-field__value"></div>
    </div>
</div>