.field-display {
  display: flex;
  align-items: center;
}

.field-value {
  margin-right: 8px;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-style: italic;
  color: #666;
}

.field-copy-button {
  visibility: hidden;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-left: 4px;
}

.field-display:hover .field-copy-button {
  visibility: visible;
}

.field-copy-button mat-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
}
