.sidenav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px 0;
}

.mat-h1 {
    margin: 0;
}

.mat-icon-button {
    margin-right: -8px;
}

.mat-line {
    line-height: 48px;
}

::ng-deep .table-list-item .mat-list-item-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-item_active {
    color: #ED4870;
}

.empty-message {
    margin-top: 20px;
    margin-left: 16px;
}

.search-input {
    margin-top: -12px;
    margin-left: 16px;
    margin-bottom: -12px;
    width: calc(100% - 32px);
}
