.sidenav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px 4px;
}

.connection-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 22px;
    margin: 0 !important;
    overflow: hidden;
    padding-right: 36px;
    padding-bottom: 4px;
    text-overflow: ellipsis;
    word-wrap: anywhere;
}

.mat-icon-button {
    margin-right: -8px;
}

.mat-line {
    line-height: 48px;
}

.tables-list ::ng-deep .table-list-item .mat-list-item-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-list-initials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color-primaryPalette-50);
    color: var(--color-primaryPalette-50-contrast);
}

.table-list-initials:hover {
    background-color: var(--color-primaryPalette-100);
}

.table-list-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.tables-list ::ng-deep .mat-list-base .mat-list-item {
    height: 40px !important;
}

.list-item_active ::ng-deep .mdc-list-item__primary-text {
    color: var(--color-accentedPalette-500);
}

@media (prefers-color-scheme: dark) {
    .list-item_active ::ng-deep .mdc-list-item__primary-text {
        color: var(--color-accentedDarkPalette-500);
    }
}

.list-item_active ::ng-deep .table-list-initials {
    background-color: var(--color-accentedPalette-500);
    color: var(--color-accentedPalette-500-contrast);
}

@media (prefers-color-scheme: dark) {
    .list-item_active ::ng-deep .table-list-initials {
        background-color: var(--color-accentedDarkPalette-500);
        color: var(--color-accentedDarkPalette-500-contrast);
    }
}

.empty-message {
    margin-top: 20px;
    margin-left: 16px;
}

.search-input {
    background-color: transparent;
    margin-top: 12px;
    margin-left: 16px;
    margin-bottom: -24px;
    width: calc(100% - 32px);
}

.search-input ::ng-deep * {
    background-color: transparent !important;
}

.search-input ::ng-deep .mdc-text-field {
    padding: 0 !important;
}

.search-input ::ng-deep .mat-mdc-form-field-infix {
    min-height: 0;
}

.search-input ::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 8px;
    padding-bottom: 8px;
}
