.upgrade-box {
    margin-top: 53px;
}

.upgrade-box__title {
    margin-bottom: 20px;
    text-align: center;
}

.page {
    padding: 16px;
}

.plans {
    margin: 2em auto;
    width: clamp(300px, 90%, 840px);
}

.header {
    display: grid;
    grid-template-columns: 0 7fr repeat(3, 6fr);
    grid-column-gap: 12px;
    margin-bottom: 1em;
}

.mat-h1 {
    margin: 0;
}

.mat-table {
    width: 100%;
}

.mat-header-cell {
    width: 25%;
}

.cell_centered {
    padding: 0 4px 0 16px !important;
    text-align: center;
}

.cell_current {
    background: linear-gradient(to right, transparent 12px, rgba(0, 0, 0, 0.04) 12px, rgba(0, 0, 0, 0.04));
}

.plan-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.87);
    padding: 1.5em;
}

.plan-header-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 100%;
}

.plan-header h3 {
    margin-bottom: 0;
}

.plan-badge {
    --mdc-chip-label-text-size: 0.75em;

    background-color: var(--color-primaryPalette-100) !important;
    border-radius: 4px;
    opacity: 1 !important;
    height: 20px;
}

.plan-badge ::ng-deep .mdc-evolution-chip__action--primary {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.plan-badge ::ng-deep .mat-mdc-chip-action-label {
    color: var(--color-primaryPalette-200-contrast) !important;
}

.price {
    font-size: 2em;
}

.per {
    color: rgba(0, 0, 0, 0.54);
}

.period {
    font-weight: 400;
    margin-top: 0.25em;
    margin-bottom: 2em;
}

.current {
    background: transparent !important;
    margin-left: -16px;
}

.plansTable {
    border-radius: 12px;
    overflow: hidden;
}

/* .plansTable :ng-deep.mdc-data-table__cell {
    padding: 0 0 0 16px !important;
} */