.upgrade-box {
    margin-top: 53px;
}

.upgrade-box__title {
    margin-bottom: 20px;
    text-align: center;
}

.page {
    padding: 16px;
}

.plans {
    margin: 2em auto;
    width: clamp(300px, 90%, 800px);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.mat-h1 {
    margin: 0;
}

.toggle {
    margin-right: -12px;
}

.toggle-label {
    margin: 0 12px;
}

.toggle-label-active {
    font-weight: 600;
}

.mat-table {
    width: 100%;
}

.mat-header-cell {
    width: 25%;
}

.cell-centered {
    text-align: center;
}

.plan-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
    padding: 2em 0;
}

.price {
    font-size: 2em;
}

.period {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    margin-top: 0.25em;
    margin-bottom: 2em;
}

.current {
    color: #3258F0;
}