<div class="file">
    <div class="header">
            <span class="file-label">{{ normalizedLabel }}</span>

            <mat-radio-group
                name="{{label}}-{{key}}-file-type"
                class="file-types"
                [(ngModel)]="fileType">
                <mat-radio-button value='hex' class="file-type">
                    HEX
                </mat-radio-button>
                <mat-radio-button value='base64' class="file-type">
                    Base64
                </mat-radio-button>
                <mat-radio-button value='file' class="file-type">
                    File
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field *ngIf="fileType === 'hex'" appearance="outline" class="file-raw-data">
            <mat-label>Hex</mat-label>
            <textarea matInput resizeToFitContent rows="8" name="{{label}}-{{key}}-hex-content" #hexContent="ngModel"
                [(ngModel)]="hexData" (ngModelChange)="onHexChange()"

            ></textarea>
        </mat-form-field>

        <mat-form-field *ngIf="fileType === 'base64'" appearance="outline" class="file-raw-data">
                <mat-label>Base64</mat-label>
                <textarea matInput resizeToFitContent rows="8" name="{{label}}-{{key}}-base64-content" #base64Content="ngModel"
                    [(ngModel)]="base64Data" (ngModelChange)="onBase64Change()"

                ></textarea>
        </mat-form-field>

        <div *ngIf="fileType === 'file'" class="file-uploader-appearance">
            <input type="file" class="file-input" name="{{label}}-{{key}}-file" [required]="required" [disabled]="readonly"
                (change)="onFileSelected($event)" #fileUpload>

            <span class="file-name mat-body-2">{{ value ? 'File is uploaded.' : 'No file uploaded yet.' }}</span>

            <button type="button" mat-stroked-button class="upload-btn"
                (click)="fileUpload.click()">
                Upload file
        </button>
    </div>
</div>
