<div *ngIf="selectedRow"
    class="row-preview-sidebar"
    [ngClass]="{'row-preview-sidebar_open': selectedRow}">
    <div class="row-preview-sidebar__header">
        <h2 class="mat-heading-2 row-preview-sidebar__title">Preview</h2>
        <div class="row-preview-sidebar__actions">
            <button mat-icon-button *ngIf="selectedRow.link"
                matTooltip="Copy link to this record"
                [cdkCopyToClipboard]="getDedicatedPageLink()"
                (cdkCopyToClipboardCopied)="showCopyNotification('Link to this record was copied to clipboard.')">
                <mat-icon>link</mat-icon>
            </button>
            <a mat-icon-button *ngIf="selectedRow.link"
                [routerLink]="selectedRow.link"
                [queryParams]="getDedicatedPageLinkParams()"
                matTooltip="Open the record"
                (click)="stashUrlParams()">
                <mat-icon fontSet="material-icons-outlined">create</mat-icon>
            </a>
        </div>
        <button mat-icon-button (click)="handleClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <br />

    <mat-expansion-panel *ngIf="selectedRow?.relatedRecords?.referenced_by?.length" class="related-records-panel">
        <mat-expansion-panel-header class="related-records-panel__header">
            Related records
        </mat-expansion-panel-header>

        <mat-accordion multi="true">
            <mat-expansion-panel *ngFor="let referencedTable of referencedTables; let i = index" class="related-records__panel">
                <mat-expansion-panel-header class="related-records__header">
                    <mat-panel-title class="related-records__table-name"> {{referencedTable.displayTableName}} </mat-panel-title>
                    <mat-panel-description class="related-records__actions">
                        <mat-spinner *ngIf="!referencedRecords[referencedTable.table_name]" diameter="20"></mat-spinner>
                        <span *ngIf="referencedRecords[referencedTable.table_name] && !referencedRecords[referencedTable.table_name].rows.length">Absent</span>
                        <a mat-icon-button *ngIf="referencedRecords[referencedTable.table_name] && referencedRecords[referencedTable.table_name].rows.length"
                            [routerLink]="['/dashboard', selectedRow.connectionID, referencedTable.table_name, 'settings']"
                            matTooltip="Set up records view"
                            (click)="handleClose()">
                            <mat-icon>settings</mat-icon>
                        </a>
                        <a mat-icon-button *ngIf="referencedRecords[referencedTable.table_name]"
                            routerLink="/dashboard/{{selectedRow.connectionID}}/{{referencedTable.table_name}}"
                            [queryParams]="referencedTablesURLParams[i]"
                            matTooltip="Open records in table view"
                            (click)="handleClose()">
                            <mat-icon>open_in_new</mat-icon>
                        </a>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item *ngFor="let row of referencedRecords[referencedTable.table_name]?.rows; let i = index" class="related-record"
                        [routerLink]="['/dashboard', selectedRow.connectionID, referencedTable.table_name, 'entry']"
                        [queryParams]="referencedRecords[referencedTable.table_name]?.links[i]"
                        (click)="handleClose()">

                        <span matListItemTitle>
                            <strong *ngIf="!referencedRecords[referencedTable.table_name].identityColumn.isSet">
                                {{referencedRecords[referencedTable.table_name].identityColumn.displayName}}:&nbsp;
                            </strong>
                            {{ row[referencedRecords[referencedTable.table_name].identityColumn.name] }}
                        </span>

                        <span matListItemLine>
                            <span *ngFor="let field_name of referencedRecords[referencedTable.table_name].fieldsOrder">
                                <strong>{{field_name}}:</strong>
                                {{ row[field_name]}}
                            </span>
                        </span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-expansion-panel>

    <div *ngIf="!selectedRow?.relatedRecords?.referenced_by">
        <div class="skeleton loading-related-records">
            <div class="bone loading-related-records__title"></div>
            <div class="bone loading-related-records__button"></div>
        </div>
    </div>

    <ng-container *ngIf="selectedRow && selectedRow.record; else loadingContent">
        <div *ngFor="let column of columns" class="row-preview-sidebar__field">
            <strong>{{column.normalizedTitle}}</strong>
            <a *ngIf="isForeignKey(column.title); else recordContent"
                routerLink="/dashboard/{{selectedRow.connectionID}}/{{selectedRow.foreignKeys[column.title]?.referenced_table_name}}/entry"
                [queryParams]="getForeignKeyQueryParams(column.title)"
                class="row-preview-sidebar__field-value row-preview-sidebar__field-value_foreign-key"
                (click)="handleClose()">
                <span>{{getForeignKeyValue(column.title)}}</span>
                <mat-icon fontSet="material-icons-outlined" class="row-preview-sidebar__field-value-icon">edit</mat-icon>
            </a>

            <ng-template #recordContent>
                <div *ngIf="isWidget(column.title); else stringValue">
                    <div *ngIf="selectedRow.widgets[column.title].widget_type === 'Image'">
                        <img [src]="selectedRow.record[column.title]" alt="Image" class="row-preview-sidebar__image">
                    </div>
                    <span class="row-preview-sidebar__field-value">{{selectedRow.record[column.title] || '—'}}</span>
                </div>
                <ng-template #stringValue>
                    <span class="row-preview-sidebar__field-value">{{selectedRow.record[column.title] || '—'}}</span>
                </ng-template>
            </ng-template>
        </div>
    </ng-container>

    <ng-template #loadingContent>
        <app-placeholder-record-view></app-placeholder-record-view>
    </ng-template>
</div>
