<div class="field-display">
  @if (value()) {
    <span class="phone-content">
      @if (countryFlag) {
        <span class="country-flag" [matTooltip]="countryName">{{ countryFlag }}</span>
      }
      <a [href]="'tel:' + value()" class="field-value phone-link">{{ formattedNumber || value() }}</a>
    </span>
  } @else {
    <span class="field-value">—</span>
  }
  <button type="button" mat-icon-button
      class="field-copy-button"
      matTooltip="Copy"
      [cdkCopyToClipboard]="value()"
      (cdkCopyToClipboardCopied)="onCopyToClipboard.emit('Field value was copied to clipboard.')"
      (click)="$event.stopPropagation()">
      <mat-icon>content_copy</mat-icon>
  </button>
</div>
