.anchor-icon-button {
    background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
    .anchor-icon-button {
        --bg-color: #292929;
    }
}

@media (prefers-color-scheme: light) {
    .anchor-icon-button {
        --bg-color: var(--color-primaryPalette-100);
    }
}

.icons-menu {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.icons-menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-gap: 4px;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.icon-radio-button:checked + ::ng-deep.icon-button {
    background-color: rgba(0,0,0,0.16);
}


.custom-icon-box {
    position: relative;
}

.apply-icon-button {
    position: absolute;
    top: 0;
    right: 8px;
    align-self: flex-end;
    margin-top: 4px;
}

.google-icons-link {
    color: var(--color-primaryPalette-500);
    text-decoration: none;
}