<mat-sidenav-container class="main-menu-container" autosize>
    <mat-sidenav #drawer
        fixedInViewport="true"
        mode="over"
        class="main-menu-sidenav"
        >
        <mat-toolbar>Rocketadmin</mat-toolbar>
        <mat-nav-list *ngIf="userLoggedIn === true">
            <a mat-list-item routerLink="/connections-list"
                routerLinkActive="nav-bar__button_active"
                aria-label="List of connections">
                Connections
            </a>
            <a mat-list-item routerLink="/user-settings"
                routerLinkActive="nav-bar__button_active">
                Settings
            </a>
            <a mat-list-item href="https://help.rocketadmin.com/" target="_blank">
                Help
            </a>
            <a mat-list-item class="nav-bar__upgrade-button" routerLink="/upgrade"
                routerLinkActive="nav-bar__button_active">
                Upgrade
            </a>
            <div mat-list-item>
                <button mat-button class="logout-button" (click)="logOut()">
                    Log out
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-menu-content">
        <mat-toolbar color="primary" class="nav-bar" [ngClass]="{'nav-bar_white': !userLoggedIn}">
            <a routerLink="/connections-list" *ngIf="userLoggedIn; else externalLink" class="logo">
                <img *ngIf="!logo && !name" src="../assets/rocketadmin_logo_white.svg" alt="Rocketadmin logo">
                <img *ngIf="logo" [src]="logo || '../rocketadmin_logo_white.svg'" alt="Logo">
                <span *ngIf="name">{{name}}</span>
            </a>

            <ng-template #externalLink>
                <a href="https://rocketadmin.com/" class="logo">
                    <img src="../assets/rocketadmin_logo_black.svg" alt="Rocketadmin logo">
                </a>
            </ng-template>

            <div *ngIf="userLoggedIn === true" class="menu">
                <a routerLink="/connections-list" mat-button data-testid="connections-list-header-link"
                    class="action nav-bar__button"
                    routerLinkActive="nav-bar__button_active"
                    aria-label="List of connections">
                    Connections
                </a>
                <a routerLink="/user-settings" mat-button data-testid="account-header-link"
                    matBadge="1" [matBadgeHidden]="currentUser.isActive"  matBadgeColor="accent" matBadgeSize="small"
                    class="action nav-bar__button"
                    routerLinkActive="nav-bar__button_active">
                    Account
                </a>
                <a href="https://help.rocketadmin.com/" target="_blank" mat-button class="nav-bar__button">
                    <!--<mat-icon>help_outline</mat-icon> -->
                    Help
                </a>
            </div>

            <button mat-icon-button color="primary" class="menu-button" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <div *ngIf="userLoggedIn === true" class="actions actions_auth">
                <ng-container *ngIf="upgradeButtonShown">
                    <a *ngIf="currentUser.portal_link; else subscriptionLink" data-testid="upgrade-stripe-link"
                        [href]="currentUser.portal_link " mat-flat-button
                        class="nav-bar__upgrade-button" target="_blank">
                        Upgrade
                    </a>
                    <ng-template #subscriptionLink>
                        <a routerLink="/upgrade" mat-flat-button data-testid="upgrade-local-link"
                            routerLinkActive="mat-accent" class="nav-bar__upgrade-button">
                            Upgrade
                        </a>
                    </ng-template>

                </ng-container>

                <button mat-button (click)="logOut()" class="nav-bar__button" data-testid="logout-button"
                    matTooltip="Logout {{currentUser.email}}">
                    <div class="nav-bar__button-logout">
                        Log out
                        <mat-icon inline>exit_to_app</mat-icon>
                    </div>
                </button>
            </div>

            <div *ngIf="userLoggedIn === null" class="actions">
                <a class="authButton authButton_login" data-testid="login-header-link"
                    routerLink="/login">
                    Login
                </a>
                <a class="authButton authButton_signup" data-testid="registration-header-link"
                    routerLink="/registration">
                    Sign up
                </a>
            </div>
            <!-- <ng-template #nonAuthBlock>

            </ng-template> -->
        </mat-toolbar>

        <!--<div *ngIf="connectionID" class="mat-body-2 breadcrumbs">
            <a mat-button
                routerLink="/dashboard/{{connectionID}}">
                {{currantConnection.title || currantConnection.database}}
            </a>
            <div *ngIf="tableName" class="breadcrumbs__tableName">
                <mat-icon class="breadcrumbs__arrowIcon">arrow_forward_ios</mat-icon>
                <a mat-button routerLink="/dashboard/{{connectionID}}/{{tableName}}">
                    {{normalizedTableName}}
                </a>
            </div>
        </div>-->

        <nav mat-tab-nav-bar mat-stretch-tabs="false" mat-align-tabs="center" *ngIf="connectionID" [tabPanel]="tabPanel">
            <a mat-button class="connection-name"
                [matTooltip]="currantConnection.title || currantConnection.database"
                [matTooltipDisabled]="currantConnection.title.length < 25"
                routerLink="/dashboard/{{connectionID}}">
                {{currantConnection.title || currantConnection.database}}
            </a>

            <a mat-tab-link *ngFor="let tab of visibleTabs" attr.data-testid="{{tab}}-tab"
                routerLink="{{tab}}/{{connectionID}}"
                [active]="currentTab == tab">
                <mat-icon class="tab-icon">{{navigationTabs[tab].icon}}</mat-icon>{{navigationTabs[tab].caption}}
            </a>
        </nav>

        <mat-tab-nav-panel #tabPanel class="tab-content-wrapper">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </mat-tab-nav-panel>

        <div *ngIf="!authBarTheme" class="footer">
            <span class="footer__text">&copy; 2023 Rocketadmin</span>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

