version: "3.9"
services:
  backend:
    build:
      context: .
    ports:
      - 3000:3000
    env_file: ./backend/.development.env
    environment:
      DATABASE_URL: "postgres://postgres:abc123@postgres:5432/postgres"
    volumes:
      - ./backend/src/migrations:/app/src/migrations
    depends_on:
      - postgres
      - testMySQL-e2e-testing
      - testPg-e2e-testing
      - mssql-e2e-testing
      - test-oracle-e2e-testing
      - test-ibm-db2-e2e-testing
      - test-dynamodb-e2e-testing
    links:
      - postgres
      - testMySQL-e2e-testing
      - testPg-e2e-testing
      - mssql-e2e-testing
      - test-oracle-e2e-testing
      - test-ibm-db2-e2e-testing
      - test-dynamodb-e2e-testing
    command: ["yarn", "start"]
  backend_test:
    build:
      context: .
    env_file: ./backend/.development.env
    environment:
      DATABASE_URL: "postgres://postgres:abc123@postgres:5432/postgres"
      EXTRA_ARGS: "${EXTRA_ARGS:-}"
    volumes:
      - ./backend/src/migrations:/app/src/migrations
    depends_on:
      - postgres
      - testMySQL-e2e-testing
      - testPg-e2e-testing
      - mssql-e2e-testing
      - test-oracle-e2e-testing
      - test-ibm-db2-e2e-testing
      - test-mongo-e2e-testing
      - test-dynamodb-e2e-testing
    links:
      - postgres
      - testMySQL-e2e-testing
      - testPg-e2e-testing
      - mssql-e2e-testing
      - test-oracle-e2e-testing
      - test-ibm-db2-e2e-testing
      - test-mongo-e2e-testing
      - test-dynamodb-e2e-testing
    command: ["/bin/sh", "-c", "yarn test-all $EXTRA_ARGS"]
    develop:
      watch:
        - action: rebuild
          path: ./backend/src

  testMySQL-e2e-testing:
    image: mysql:8.0.23
    ports:
      - 3308:3306
    tmpfs:
      - /var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123
      MYSQL_DATABASE: testDB

  testPg-e2e-testing:
    image: postgres
    ports:
      - 9002:5432
    environment:
      POSTGRES_PASSWORD: 123
    command: postgres -c 'max_connections=300'

  test-mongo-e2e-testing:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - 27017:27017

  postgres:
    image: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: abc123
    command: postgres -c 'max_connections=300'
    tmpfs:
      - /var/lib/postgresql

  mssql-e2e-testing:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      - SA_PASSWORD=yNuXf@6T#BgoQ%U6knMp
      - ACCEPT_EULA=Y
    ports:
      - "5434:1433"

  test-oracle-e2e-testing:
    image: gvenzl/oracle-xe
    ports:
      - 1521:1521
    environment:
      ORACLE_PASSWORD: 12345

  autoadmin-ws-server:
    build:
      context: autoadmin-ws-server
    ports:
      - 8008:8008
    env_file: ./autoadmin-ws-server/.ws-server-development.env
    volumes:
      - ./autoadmin-ws-server/dist:/app/dist
      - ./autoadmin-ws-server/src:/app/src
    links:
      - backend
    depends_on:
      - backend

  # rocketadmin-agent_oracle:
  #   build:
  #     context: .
  #     dockerfile: ./rocketadmin-agent/Dockerfile
  #   ports:
  #     - 8088:8088
  #   volumes:
  #     - ./rocketadmin-agent/dist:/app/dist
  #     - ./rocketadmin-agent/src:/app/src
  #   links:
  #     - autoadmin-ws-server
  #   depends_on:
  #     - autoadmin-ws-server
  #   environment:
  #     - REMOTE_WEBSOCKET_ADDRESS=ws://autoadmin-ws-server:8009
  #     - APPLICATION_CONFIG_FILE_NAME=.oracle_test_agent_config.txt
  #   command: ["yarn", "start:dev"]

  # rocketadmin-agent_postgres:
  #   build:
  #     context: .
  #     dockerfile: ./rocketadmin-agent/Dockerfile
  #   ports:
  #     - 8098:8098
  #   volumes:
  #     - ./rocketadmin-agent/dist:/app/dist
  #     - ./rocketadmin-agent/src:/app/src
  #   links:
  #     - autoadmin-ws-server
  #   depends_on:
  #     - autoadmin-ws-server
  #   environment:
  #     - REMOTE_WEBSOCKET_ADDRESS=ws://autoadmin-ws-server:8009
  #     - APPLICATION_CONFIG_FILE_NAME=.postgres_test_agent_config.txt
  #   command: ["yarn", "start:dev"]

  # rocketadmin-agent_mysql:
  #   build:
  #     context: .
  #     dockerfile: ./rocketadmin-agent/Dockerfile
  #   ports:
  #     - 8108:8108
  #   volumes:
  #     - ./rocketadmin-agent/dist:/app/dist
  #     - ./rocketadmin-agent/src:/app/src
  #   links:
  #     - autoadmin-ws-server
  #   depends_on:
  #     - autoadmin-ws-server
  #   environment:
  #     - REMOTE_WEBSOCKET_ADDRESS=ws://autoadmin-ws-server:8009
  #     - APPLICATION_CONFIG_FILE_NAME=.mysql_test_agent_config.txt
  #   command: ["yarn", "start:dev"]

  # rocketadmin-agent_mssql:
  #   build:
  #     context: .
  #     dockerfile: ./rocketadmin-agent/Dockerfile
  #   ports:
  #     - 8118:8118
  #   volumes:
  #     - ./rocketadmin-agent/dist:/app/dist
  #     - ./rocketadmin-agent/src:/app/src
  #   links:
  #     - autoadmin-ws-server
  #   depends_on:
  #     - autoadmin-ws-server
  #   environment:
  #     - REMOTE_WEBSOCKET_ADDRESS=ws://autoadmin-ws-server:8009
  #     - APPLICATION_CONFIG_FILE_NAME=.mssql_test_agent_config.txt
  #   command: ["yarn", "start:dev"]

  # rocketadmin-agent_ibmdb2:
  #   build:
  #     context: .
  #     dockerfile: ./rocketadmin-agent/Dockerfile
  #   ports:
  #     - 8308:8308
  #   volumes:
  #     - ./rocketadmin-agent/dist:/app/dist
  #     - ./rocketadmin-agent/src:/app/src
  #     - ./rocketadmin-agent/wait-for-db2.sh:/app/wait-for-db2.sh
  #   links:
  #     - autoadmin-ws-server
  #   depends_on:
  #     - autoadmin-ws-server
  #   environment:
  #     - REMOTE_WEBSOCKET_ADDRESS=ws://autoadmin-ws-server:8009
  #     - APPLICATION_CONFIG_FILE_NAME=.ibmdb2_test_agent_config.txt
  #   command: ["/bin/sh", "/app/wait-for-db2.sh"]

  test-ibm-db2-e2e-testing:
    image: icr.io/db2_community/db2
    restart: always
    privileged: true
    environment:
      - LICENSE=accept
      - DB2INSTANCE=db2inst1
      - DB2INST1_PASSWORD=password
      - DBNAME=testdb
      - BLU=false
      - ENABLE_ORACLE_COMPATIBILITY=false
      - UPDATEAVAIL=NO
      - TO_CREATE_SAMPLEDB=true
      - REPODB=false
      - IS_OSXFS=false
      - PERSISTENT_HOME=true
      - HADR_ENABLED=false
      - ETCD_ENDPOINT=
      - ETCD_USERNAME=
      - ETCD_PASSWORD=
    ports:
      - 50000:50000

  test-dynamodb-e2e-testing:
    image: amazon/dynamodb-local
    environment:
      - AWS_ACCESS_KEY_ID=SuperSecretAwsAccessKey
      - AWS_SECRET=SuperSecretAwsSecret
