.payment-page {
    margin: 0 auto;
    width: clamp(18.75em, 96%, 42em);
}

.payment-page__header {
    margin: 2em 0 1em;
}

.plan-name {
    text-transform: capitalize;
}

.billing-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
}

.full-width {
    grid-column: 1 / span 2;
}

.plan-details {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 12px 20px;
}