.payment-page {
    margin: 3em auto;
    width: clamp(18.75em, 96%, 45em);
}

.payment-page__header {
    margin: 2em 0 1em;
}

.plan-name {
    text-transform: capitalize;
}

.billing-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
}

.full-width {
    grid-column: 1 / span 2;
}

.note {
    margin-top: 20px !important;
    margin-bottom: 52px !important;
}