.settings-page {
    padding: 56px max(calc(50vw - 325px), 10%) 60px;
}

.row-breadcrumbs {
    display: block;
    margin-bottom: 24px;
}

.settings-form {
    display: grid;
    grid-template-columns: auto 40px;
    align-items: center;
}

.settings-form__full-line {
    grid-column: 1 / span 2;
}

.order-settings {
    position: relative;
}

.settings-form__expansion-panel {
    position: relative;
    margin-bottom: 28px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.15);
}

.mat-expansion-panel:not(.mat-expanded):hover {
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.87);
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
    background: transparent;
}

.mat-expansion-panel-header {
    position: relative;
    height: 60px;
    padding: 0 0.75em;
}

.order__title {
    position: absolute;
    top: -12px;
    left: 8px;
    display: inline-block;
    background: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.75em;
    padding: 4px;
    z-index: 1;
}

.order-item {
    background: white;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: move;
    padding: 20px 12px;
}

.order-item:not(:last-child) {
    border-bottom: solid 1px #ccc;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.settings-form__tooltip {
    margin-bottom: 20px;
    margin-left: auto;
}

.form-group-ordering {
    display: flex;
}

.form-group-ordering__ordering-by {
    width: 50%
}

.form-group-ordering__order-options {
    margin-top: 24px;
    margin-left: 16px;
}

.form-group-ordering__order-options * {
    margin-right: 16px;
}

.actions {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    height: 64px;
    padding: 0 max(calc(50vw - 325px), 10%);
    width: 100vw;
}

.mat-dialog-actions {
    justify-content: flex-end;
    padding: 8px 0 24px;
}

.settings-form__back-button {
    margin-right: auto;
}

.settings-form__save-button {
    margin-left: 20px;
}