.wrapper {
    width: 100%;
}

.form__field {
    height: 44px;
    width: 100%;
}

.form__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.form__line_invite {
    margin-bottom: 16px;
}

.form__title {
    height: 32px;
    width: 142px;
}

.form__string {
    height: 24px;
    width: 100px;
}

.form__button {
    border-radius: 4px;
    height: 36px;
}

.form__button_plan {
    width: 190px;
}

.form__button_invite {
    width: 152px;
}