.wrapper {
    margin: 3em auto;
    padding: 0 clamp(200px, 20vw, 300px);
    width: 100%;
}

@media (width <= 600px) {
    .wrapper {
        padding: 0 9vw;
        width: 100vw;
    }
}

.title {
    height: 32px;
    margin-bottom: 32px;
    width: 332px;
}

.form__field {
    height: 44px;
    width: 100%;
}

.form__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.form__line_invite {
    margin-bottom: 16px;
}

.form__title {
    height: 32px;
    width: 142px;
}

@media (width <= 600px) {
    .form__title {
        width: 120px;
    }
}

.form__string {
    height: 24px;
    width: 120px;
}

@media (width <= 600px) {
    .form__string {
        width: 80px;
    }
}

.form__button {
    border-radius: 4px;
    height: 36px;
}

.form__button_plan {
    width: 190px;
}

@media (width <= 600px) {
    .form__button_plan {
        width: 124px;
    }
}

.form__button_invite {
    width: 152px;
}

@media (width <= 600px) {
    .form__button_plan {
        width: 132px;
    }
}

.form__table {
    padding: 0 8px;
}