.filter-row {
	display: flex;
	gap: 8px;
	align-items: flex-start;
	width: 100%;
}

.comparator-field {
	flex: 0 0 auto;
	min-width: 150px;
}

.value-field {
	flex: 1;
}

.field-couple {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 16px;
}
