<div class="saved-filters-container">
    <button *ngIf="savedFilterData.length === 0"
        mat-button type="button"
        (click)="handleOpenSavedFiltersDialog()">
        <mat-icon>tune</mat-icon>
        Setup custom filters
    </button>

    <button *ngIf="savedFilterData.length !== 0"
        mat-button type="button"
        [matMenuTriggerFor]="menu">
        <mat-icon>tune</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="handleOpenSavedFiltersDialog()">
            <mat-icon>add</mat-icon>
            Create new filter
        </button>
        <button mat-menu-item
            *ngFor="let filter of savedFilterData"
            (click)="handleOpenSavedFiltersDialog(filter)">
            {{ filter.name }}
        </button>
    </mat-menu>

    <div class="no-filters" *ngIf="savedFilterData && savedFilterData.length === 0">
        <mat-icon>info</mat-icon>
        <span>No saved filters. Create one by clicking the button above.</span>
    </div>

    <mat-chip-listbox [value]="selectedFilterSetId">
        <mat-chip-option *ngFor="let filter of savedFilterData"
            [value]="filter.id"
            (click)="selectFiltersSet(filter.id)">
            {{ filter.name }}
        </mat-chip-option>
    </mat-chip-listbox>

    <div>
        <mat-chip *ngFor="let entry of savedFilterMap[selectedFilterSetId]?.filterEntries"
            (click)="selectFilter(entry)">
            {{ getFilter(entry) }}
        </mat-chip>

        <div *ngIf="selectedFilter" class="single-filter-editor">
            <div class="filter-editor-header">
                <h3>Edit Filter: {{ selectedFilter.column }}</h3>
                <button mat-icon-button (click)="cancelEditFilter()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <form class="filter-edit-form" #filterForm="ngForm">
                <div class="filter-line">
                    <span class="column-name">{{ selectedFilter.column }}</span>

                    <!-- Text comparator options -->
                    <mat-form-field *ngIf="getComparatorType(getInputType(selectedFilter.column)) === 'text'" appearance="outline">
                        <mat-select [ngModel]="selectedFilter.operator"
                                    name="textComparator"
                                    (ngModelChange)="updateComparator($event)">
                            <mat-option value="startswith">starts with</mat-option>
                            <mat-option value="endswith">ends with</mat-option>
                            <mat-option value="eq">equal</mat-option>
                            <mat-option value="contains">contains</mat-option>
                            <mat-option value="icontains">not contains</mat-option>
                            <mat-option value="empty">is empty</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Number comparator options -->
                    <mat-form-field *ngIf="getComparatorType(getInputType(selectedFilter.column)) === 'number'" appearance="outline">
                        <mat-select [ngModel]="selectedFilter.operator"
                                    name="numberComparator"
                                    (ngModelChange)="updateComparator($event)">
                            <mat-option value="eq">equal</mat-option>
                            <mat-option value="gt">greater than</mat-option>
                            <mat-option value="lt">less than</mat-option>
                            <mat-option value="gte">greater than or equal</mat-option>
                            <mat-option value="lte">less than or equal</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Non-comparable field (uses ndc-dynamic) -->
                    <div *ngIf="getComparatorType(getInputType(selectedFilter.column)) === 'nonComparable'">
                        <div *ngIf="isWidget(selectedFilter.column); else defaultTableField">
                            <ndc-dynamic [ndcDynamicComponent]="tableWidgets[selectedFilter.column].widget_type ? UIwidgets[tableWidgets[selectedFilter.column].widget_type] : inputs[tableTypes[selectedFilter.column]]"
                                [ndcDynamicInputs]="{
                                    key: selectedFilter.column,
                                    label: tableWidgets[selectedFilter.column].name || selectedFilter.column,
                                    value: selectedFilter.value,
                                    widgetStructure: tableWidgets[selectedFilter.column],
                                    relations: tableTypes[selectedFilter.column] === 'foreign key' ? tableForeignKeys[selectedFilter.column] : undefined
                                }"
                                [ndcDynamicOutputs]="{
                                    onFieldChange: { handler: updateField, args: ['$event', selectedFilter.column] }
                                }"
                            ></ndc-dynamic>
                        </div>

                        <ng-template #defaultTableField>
                            <ndc-dynamic [ndcDynamicComponent]="inputs[tableTypes[selectedFilter.column]]"
                                [ndcDynamicInputs]="{
                                    key: selectedFilter.column,
                                    label: selectedFilter.column,
                                    value: selectedFilter.value,
                                    structure: tableRowStructure[selectedFilter.column],
                                    relations: tableTypes[selectedFilter.column] === 'foreign key' ? tableForeignKeys[selectedFilter.column] : undefined
                                }"
                                [ndcDynamicOutputs]="{
                                    onFieldChange: { handler: updateField, args: ['$event', selectedFilter.column] }
                                }"
                            ></ndc-dynamic>
                        </ng-template>
                    </div>

                    <!-- Standard field value input for text and number types -->
                    <div *ngIf="getComparatorType(getInputType(selectedFilter.column)) !== 'nonComparable'">
                        <ndc-dynamic [ndcDynamicComponent]="inputs[tableTypes[selectedFilter.column]]"
                            [ndcDynamicInputs]="{
                                key: selectedFilter.column,
                                label: selectedFilter.column,
                                value: selectedFilter.value,
                                readonly: selectedFilter.comparator === 'empty',
                                structure: tableRowStructure[selectedFilter.column],
                                relations: tableTypes[selectedFilter.column] === 'foreign key' ? tableForeignKeys[selectedFilter.column] : undefined
                            }"
                            [ndcDynamicOutputs]="{
                                onFieldChange: { handler: updateField, args: ['$event', selectedFilter.column] }
                            }"
                        ></ndc-dynamic>
                    </div>
                </div>

                <div class="filter-actions">
                    <button mat-button (click)="cancelEditFilter()">Cancel</button>
                    <button mat-flat-button color="primary"
                            (click)="applyEditedFilter()">
                        Apply Filter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>