<div class="saved-filters-container">
    <button mat-button type="button" (click)="handleOpenSavedFiltersDialog()">
        <mat-icon>tune</mat-icon>
        Setup custom filters
    </button>

    <div class="no-filters" *ngIf="savedFilterData && savedFilterData.length === 0">
        <mat-icon>info</mat-icon>
        <span>No saved filters. Create one by clicking the button above.</span>
    </div>

    <mat-chip-listbox [value]="selectedFilterSetId">
        <mat-chip-option *ngFor="let filter of savedFilterData"
            [value]="filter.id"
            (click)="selectFiltersSet(filter.id)">
            {{ filter.name }}
        </mat-chip-option>
    </mat-chip-listbox>

    <div>
        <mat-chip *ngFor="let entry of savedFilterMap[selectedFilterSetId]?.filterEntries"
            (click)="selectFilter(entry)">
            {{ getFilter(entry) }}
        </mat-chip>
        <div *ngIf="selectedFilter">
            edit filter {{ selectedFilter | json }}
        </div>
    </div>
</div>