<div class="saved-filters-container">
    <app-placeholder-saved-filters *ngIf="savedFilterData === null"></app-placeholder-saved-filters>
    <div *ngIf="savedFilterData" class="saved-filters-list">
        <button *ngIf="accessLevel === 'edit' && savedFilterData?.length === 0"
            class="saved-filters-list__first-time-button"
            mat-button type="button"
            angulartics2On="click"
            angularticsAction="Saved filters: first time setup is clicked"
            (click)="handleOpenSavedFiltersDialog()">
            <mat-icon>tune</mat-icon>
            Create fast filter
        </button>

        <button *ngIf="accessLevel === 'edit' && savedFilterData.length !== 0"
            mat-icon-button type="button"
            matTooltip="Create new fast filter"
            (click)="handleOpenSavedFiltersDialog()"
            angulartics2On="click"
            angularticsAction="Saved filters: create new filter is clicked">
            <mat-icon>add</mat-icon>
        </button>

        <mat-chip-listbox [value]="selectedFilterSetId" class="saved-filters-tabs">
            <mat-chip-option *ngFor="let filter of savedFilterData"
                [value]="filter.id"
                (click)="selectFiltersSet(filter.id)"
                class="filter-chip-wrapper">
                <span class="filter-chip-content">{{ filter.name }}</span>
                <button *ngIf="accessLevel === 'edit'"
                    mat-icon-button
                    type="button"
                    class="filter-chip-menu-button"
                    [matMenuTriggerFor]="filterMenu"
                    (click)="$event.stopPropagation(); setCurrentFilter(filter)"
                    matTooltip="Filter options">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-chip-option>
        </mat-chip-listbox>
        <mat-menu #filterMenu="matMenu">
            <button mat-menu-item (click)="handleEditFilter(currentFilterForMenu)">
                <mat-icon fontSet="material-icons-outlined">create</mat-icon>
                <span>Edit</span>
            </button>
            <button mat-menu-item (click)="handleDeleteFilter(currentFilterForMenu)">
                <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </div>

    <div class="filters-container">
        <form *ngIf="savedFilterMap[selectedFilterSetId]?.dynamicColumn"
            class="dynamic-column-editor"
            (ngSubmit)="applyDynamicColumnChanges()">
            <span class="column-name mat-body-1">
                <mat-icon class="column-name-icon">subdirectory_arrow_right</mat-icon>
                where
                <strong *ngIf="getComparatorType(getInputType(savedFilterMap[selectedFilterSetId]?.dynamicColumn.column)) !== 'nonComparable'">
                    {{ savedFilterMap[selectedFilterSetId]?.dynamicColumn.column }}
                </strong>
            </span>
            <mat-form-field *ngIf="getComparatorType(getInputType(savedFilterMap[selectedFilterSetId]?.dynamicColumn.column)) === 'text'" appearance="outline">
                <mat-select [(ngModel)]="savedFilterMap[selectedFilterSetId].dynamicColumn.operator"
                        name="textComparator"
                        (ngModelChange)="updateDynamicColumnComparator($event)">
                    <mat-option value="startswith">
                        <mat-icon class="comparator-icon">play_arrow</mat-icon>
                        <span>starts with</span>
                    </mat-option>
                    <mat-option value="endswith">
                        <mat-icon class="comparator-icon">play_arrow</mat-icon>
                        <span>ends with</span>
                    </mat-option>
                    <mat-option value="eq">
                        <mat-icon class="comparator-icon">drag_handle</mat-icon>
                        <span>equal</span>
                    </mat-option>
                    <mat-option value="contains">
                        <mat-icon class="comparator-icon">search</mat-icon>
                        <span>contains</span>
                    </mat-option>
                    <mat-option value="icontains">
                        <mat-icon class="comparator-icon">block</mat-icon>
                        <span>not contains</span>
                    </mat-option>
                    <mat-option value="empty">
                        <mat-icon class="comparator-icon">space_bar</mat-icon>
                        <span>is empty</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="getComparatorType(getInputType(savedFilterMap[selectedFilterSetId]?.dynamicColumn.column)) === 'number'" appearance="outline">
                <mat-select [(ngModel)]="savedFilterMap[selectedFilterSetId].dynamicColumn.operator"
                            name="numberComparator"
                            (ngModelChange)="updateDynamicColumnComparator($event)">
                    <mat-option value="eq">
                        <mat-icon class="comparator-icon">drag_handle</mat-icon>
                        <span>equal</span>
                    </mat-option>
                    <mat-option value="gt">
                        <mat-icon class="comparator-icon">keyboard_arrow_right</mat-icon>
                        <span>greater than</span>
                    </mat-option>
                    <mat-option value="lt">
                        <mat-icon class="comparator-icon">keyboard_arrow_left</mat-icon>
                        <span>less than</span>
                    </mat-option>
                    <mat-option value="gte">
                        <mat-icon class="comparator-icon">keyboard_double_arrow_right</mat-icon>
                        <span>greater than or equal</span>
                    </mat-option>
                    <mat-option value="lte">
                        <mat-icon class="comparator-icon">keyboard_double_arrow_left</mat-icon>
                        <span>less than or equal</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Non-comparable field (uses ndc-dynamic) -->
            <div *ngIf="getComparatorType(getInputType(savedFilterMap[selectedFilterSetId]?.dynamicColumn.column)) === 'nonComparable'">
                <div *ngIf="isWidget(savedFilterMap[selectedFilterSetId]?.dynamicColumn.column); else defaultDynamicField">
                    <ndc-dynamic [ndcDynamicComponent]="tableWidgets[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column].widget_type ? UIwidgets[tableWidgets[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column].widget_type] : inputs[tableTypes[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column]]"
                        [ndcDynamicInputs]="{
                            key: savedFilterMap[selectedFilterSetId]?.dynamicColumn.column,
                            label: tableWidgets[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column].name || savedFilterMap[selectedFilterSetId]?.dynamicColumn.column,
                            value: savedFilterMap[selectedFilterSetId]?.dynamicColumn.value,
                            widgetStructure: tableWidgets[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column],
                            relations: tableTypes[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column] === 'foreign key' ? tableForeignKeys[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column] : undefined,
                            autofocus: shouldAutofocus
                        }"
                        [ndcDynamicOutputs]="{
                            onFieldChange: { handler: updateDynamicColumnValue, args: ['$event'] }
                        }"
                    ></ndc-dynamic>
                </div>

                <ng-template #defaultDynamicField>
                    <ndc-dynamic [ndcDynamicComponent]="inputs[tableTypes[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column]]"
                        [ndcDynamicInputs]="{
                            key: savedFilterMap[selectedFilterSetId]?.dynamicColumn.column,
                            label: savedFilterMap[selectedFilterSetId]?.dynamicColumn.column,
                            value: savedFilterMap[selectedFilterSetId]?.dynamicColumn.value,
                            structure: tableRowStructure[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column],
                            relations: tableTypes[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column] === 'foreign key' ? tableForeignKeys[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column] : undefined,
                            autofocus: shouldAutofocus
                        }"
                        [ndcDynamicOutputs]="{
                            onFieldChange: { handler: updateDynamicColumnValue, args: ['$event'] }
                        }"
                    ></ndc-dynamic>
                </ng-template>
            </div>

            <!-- Standard field value input for text and number types -->
            <div *ngIf="getComparatorType(getInputType(savedFilterMap[selectedFilterSetId]?.dynamicColumn.column)) !== 'nonComparable'">
                <ndc-dynamic [ndcDynamicComponent]="inputs[tableTypes[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column]]"
                    [ndcDynamicInputs]="{
                        key: savedFilterMap[selectedFilterSetId]?.dynamicColumn.column,
                        label: savedFilterMap[selectedFilterSetId]?.dynamicColumn.column,
                        value: savedFilterMap[selectedFilterSetId]?.dynamicColumn.value,
                        readonly: savedFilterMap[selectedFilterSetId]?.dynamicColumn.operator === 'empty',
                        structure: tableRowStructure[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column],
                        relations: tableTypes[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column] === 'foreign key' ? tableForeignKeys[savedFilterMap[selectedFilterSetId]?.dynamicColumn.column] : undefined,
                        autofocus: shouldAutofocus
                    }"
                    [ndcDynamicOutputs]="{
                        onFieldChange: { handler: updateDynamicColumnValue, args: ['$event'] }
                    }"
                ></ndc-dynamic>
            </div>
        </form>
        <div class="static-filters">
            <mat-chip *ngFor="let filter of savedFilterMap[selectedFilterSetId]?.staticFilters" class="static-filter-chip" data-hj-suppress>
                {{ getFilter(filter) }}
            </mat-chip>
        </div>
    </div>
</div>