.code-editor-box {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 20px;
    /* overflow-y: auto;
    resize: vertical; */
    overflow: auto;
    resize: both;
}

.code-editor-box ::ng-deep .ngs-code-editor {
    width: 100%;
    height: 100%;
}