.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0 16px;
}

@media (width <= 600px) {
    .wrapper {
        padding: 36px 9vw 16px;
    }
}

.row-edit-header {
    display: flex;
    align-items: center;
}

.row-edit-header__breadcrumb {
    border-radius: 4px;
    height: 36px;
}

.row-edit-header__breadcrumb_1 {
    width: 120px;
}

@media (width <= 600px) {
    .row-edit-header__breadcrumb_1 {
        width: 60px;
    }
}


.row-edit-header__breadcrumb_2 {
    width: 172px;
}

@media (width <= 600px) {
    .row-edit-header__breadcrumb_2 {
        width: 120px;
    }
}


.row-edit-header__breadcrumb_3 {
    width: 80px;
}

@media (width <= 600px) {
    .row-edit-header__breadcrumb_3 {
        width: 52px;
    }
}


.form {
    display: flex;
    flex-direction: column;
    margin: 28px auto 40px;
    padding: 0 max(calc(50vw - 325px), 10%);
    width: 100%;
}

@media (width <= 600px) {
    .form {
        padding: 0;
    }
}

.form__heading {
    height: 32px;
    margin-top: 20px;
    margin-bottom: -4px;
    width: 142px;
}

.form__line {
    display: flex;
    align-items: center;
    gap: 12px;
}

.form__field {
    height: 44px;
    margin-top: 20px;
    width: 100%;
}

.form__info {
    height: 16px;
    margin-top: 4px;
    width: 63%;
}

.form__addButton {
    border-radius: 4px;
    height: 36px;
    margin-bottom: -20px;
    width: 72px;
}

.actions {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--mat-sidenav-content-background-color);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    height: 64px;
    padding: 0 max(calc(50vw - 325px), 2%);
    width: 100vw;
}

.actions__button {
    border-radius: 4px;
    height: 36px;
    width: 72px;
    mix-blend-mode: normal !important;
    z-index: 2;
}

.actions__button_left {
    margin-right: auto;
}
