.mat-dialog-title {
    margin-bottom: 12px;
}

.permissions {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 12px 60px;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 8px;
}

.permission-radio-group {

}

.permission-radio-button {
    margin-right: 20px;
}

.mat-subheading-1 {
    margin-bottom: 0;
}

.tables-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mat-subheading-1_tables,
.tables-options {
    margin-top: 8px;
}

.tables-list {
    position: relative;
    grid-column: 1 / span 2;
    margin-top: -20px;
}

.tables-overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    padding-top: 12px;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
}

.tables-overlay__message {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.9);
    padding: 8px;
    display: block;
    max-width: 32%;
    margin: 0 auto;
}

.permission-checkbox {
    margin-left: 32px;
}

.table-permission-item {
    margin: 0 -16px;
}

.mat-dialog-content {
    padding-bottom: 1em;
}

.mat-dialog-actions {
    justify-content: flex-end;
    padding: 8px 0 24px;
}

.visibilityIcon {
    cursor: pointer;
    margin-right: 20px;
}

.visibilityIcon_visible {
    color: #ED4870;
}