.permissions {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 4px 60px;
    margin-bottom: 8px;
}

.permission-radio-group {

}

.permission-radio-button {
    margin-right: 20px;
}

.mat-subheading-1_tables {
    margin-top: 4px;
    margin-bottom: 0;
}

.tables-list {
    position: relative;
    grid-column: 1 / span 2;
    margin-top: -4px;
}

.tables-overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
}

.permission-checkbox {
    margin-left: 32px;
}

.table-permission-item {
    margin: 0 -16px;
}

.mat-dialog-content {
    padding-bottom: 1em;
    padding-top: 1em;
}

.mat-dialog-actions {
    justify-content: flex-end;
    padding: 8px 0 24px;
}

.visibilityIcon {
    cursor: pointer;
    margin-right: 20px;
}

.visibilityIcon_visible {
    color: #ED4870;
}