<span class="mat-body-1">{{ label }} {{ required ? '*' : '' }}</span>
<ngx-codemirror
    name="{{structure.column_name}}"
    attr.data-testid="record-{{structure.column_name}}-codemirror-input"
    attr.data-test-field-type="{{structure.data_type}}"
    class="codemirror-wrapper"
    [(ngModel)]="value"
    (ngModelChange)="onFieldChange.emit($event)"
    [options]="{
        lineNumbers: true,
        lineWrapping: false,
        json: true,
        type: 'object',
        matchBrackets: true,
        mode: 'javascript',
        theme: 'ttcn'
    }"
></ngx-codemirror>