<h1 mat-dialog-title>Confirm users delete</h1>
<mat-dialog-content>
    <p class="mat-body">
        You are going to delete
        @if (data.user.name) {
          <strong>{{ data.user.name }} </strong>
          <span>(</span>{{ data.user.email }}<span>)</span>
        } @else {
          <strong>{{ data.user.email }}</strong>
        }
        from <strong>{{ data.group.title }}</strong> group.
    </p>
    <br>
    <p class="mat-body">Please confirm.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-flat-button mat-dialog-close
    aria-label="Cancel">
    Cancel
  </button>
  <button type="button" mat-flat-button color="warn"
    aria-label="Delete user from group"
    [disabled]="submitting()"
    (click)="deleteGroupUser()">
      Delete
  </button>
</mat-dialog-actions>
