<mat-form-field appearance="outline" class="binary-edit">
    <mat-label>{{ normalizedLabel() }} (hex)</mat-label>
    <textarea matInput resizeToFitContent rows="8" hexValidator
        name="{{label()}}-{{key()}}-hex-content"
        #hexContent="ngModel"
        [required]="required()" [disabled]="disabled()" [readonly]="readonly()"
        [(ngModel)]="hexData" (ngModelChange)="onHexChange()"
    ></textarea>
    @if (hexContent.errors?.isInvalidHex) {
        <mat-error>Invalid hex.</mat-error>
    }
</mat-form-field>
