.banner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.banner_error {
    --bg-color: rgb(253, 237, 237);
    --text-color: rgb(95, 33, 32);
    --icon-color: #ef5350;

    z-index: 2;
}
.banner_info {
    --bg-color: rgb(229, 246, 253);
    --text-color: rgb(1, 67, 97);
    --icon-color: #03a9f4;
}

.banner-box {
    background-color: var(--bg-color);
    border-radius: 4px;
    color: var(--text-color);
    padding: 20px;
    width: clamp(300px, 50vw, 450px);
}

.banner-box >>> .error-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 16px;
}