.banner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.banner_error {
    --alert-theme-color: #E53935;

    z-index: 2;
}
.banner_info {
    --alert-theme-color: #3258f0;
}

.banner_success {
    --alert-theme-color: #43A047;
}

.banner-box {
    background-color: #F5F5F5;
    border-left: 4px solid var(--alert-theme-color);
    padding: 24px 20px 24px 28px;
    width: clamp(300px, 50vw, 450px);
}

.banner-box ::ng-deep .error-actions {
    display: flex;
    gap: 20px;
    margin-top: 16px;
}