.banner-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../../../../assets/bg/banner.svg");
	background-repeat: no-repeat;
	/* background-position: left 125%, right -26%; */
	background-size: cover;
	height: 100%;
}

.banner_error {
	--alert-theme-color: #b71c1c;

	z-index: 2;
}
.banner_info {
	--alert-theme-color: #01579b;
}

.banner_success {
	--alert-theme-color: #1b5e20;
}

.banner-box {
	background-color: var(--bg-color);
	border-left: 12px solid var(--alert-theme-color);
	border-radius: 4px;
	box-shadow:
		0px 1px 5px 0px rgba(0, 0, 0, 0.2),
		0px 3px 4px 0px rgba(0, 0, 0, 0.12),
		0px 2px 4px 0px rgba(0, 0, 0, 0.14);
	padding: 24px 20px 24px 28px;
	width: clamp(300px, 50vw, 450px);
}

.banner-box {
	--bg-color: var(--ra-surface);
}

.banner-box ::ng-deep .error-actions {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	margin-top: 32px;
}
