<mat-form-field class="country-form-field" appearance="outline">
    <mat-label>{{normalizedLabel}}</mat-label>
    <mat-select name="{{label}}-{{key}}"
        [required]="required" [disabled]="disabled" [readonly]="readonly"
        attr.data-testid="record-{{label}}-country"
        [(ngModel)]="value" (ngModelChange)="onFieldChange.emit($event)">
        <mat-option *ngFor="let country of countries"
            [value]="country.value">
            {{country.label}}
        </mat-option>
    </mat-select>
</mat-form-field>