<mat-form-field class="form-field" appearance="outline">
    <mat-label>{{normalizedLabel()}}</mat-label>
    <textarea matInput name="{{label()}}-{{key()}}"
        #textareaField="ngModel"
        class="long-textarea"
        [rows]="rowsCount"
        [maxlength]="maxLength"
        textValidator
        [validateType]="validateType"
        [regexPattern]="regexPattern"
        attr.data-testid="record-{{label()}}-long-text"
        [required]="required()" [disabled]="disabled()" [readonly]="readonly()"
        [(ngModel)]="value" (ngModelChange)="onFieldChange.emit($event)">
    </textarea>
    @if (maxLength && maxLength > 0 && value() && (maxLength - value().length) < 100) {
        <div class="counter">{{value().length}} / {{maxLength}}</div>
    }
    @if (textareaField.errors?.['required']) {
        <mat-error>This field is required.</mat-error>
    }
    @if (textareaField.errors?.['maxlength']) {
        <mat-error>Maximum length is {{maxLength}} characters.</mat-error>
    }
    @if (textareaField.errors?.['invalidPattern'] || textareaField.errors?.[('invalid' + validateType)]) {
        <mat-error>{{getValidationErrorMessage()}}</mat-error>
    }
</mat-form-field>
