<div class="breadcrumbs">
    @for (crumb of crumbs(); track crumb.label; let i = $index) {
        @if (crumb.link) {
            <a mat-button
                [routerLink]="crumb.link"
                [queryParams]="crumb.queryParams"
                class="breadcrumb">
                {{crumb.label}}
            </a>
        } @else {
            <strong class="static-crumb">{{crumb.label}}</strong>
        }
        @if (crumbs().length !== i + 1) {
            <mat-icon class="breadcrumbDivider">chevron_right</mat-icon>
        }
    }
</div>
