.json-display {
	border-radius: 4px;
	font-family: monospace;
	padding: 0 8px;
}

@media (prefers-color-scheme: light) {
	.json-display {
		background-color: #eaeaff;
	}
}

@media (prefers-color-scheme: dark) {
	.json-display {
		background-color: #2c2c54;
	}
}
