<mat-form-field class="id-form-field" appearance="outline">
    <mat-label>{{label}}</mat-label>
    <input matInput type="text" name="{{structure.column_name}}"
        #idField="ngModel" 
        attr.data-testid="record-{{structure.column_name}}-text-input"
        attr.data-test-field-type="{{structure.data_type}}"
        [required]="required" [disabled]="readonly"
        pattern="^[{]?[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}[}]?$"
        [(ngModel)]="value" (ngModelChange)="onFieldChange.emit($event)">
        <mat-error *ngIf="idField.errors?.pattern">Value doesn't match pattern.</mat-error>
</mat-form-field>
