.dashboard-form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	min-width: 400px;
	padding-top: 8px;
}

@media (width <= 600px) {
	.dashboard-form {
		min-width: auto;
	}
}

.full-width {
	width: 100%;
}
