<div class="saved-filters-panel">
    <button mat-button type="button" *ngIf="!savedFilters" (click)="handleOpenSavedFiltersDialog.emit()">
        <mat-icon>tune</mat-icon>
        Setup custom filters
    </button>
    <button mat-icon-button type="button" *ngIf="savedFilters" (click)="handleOpenSavedFiltersDialog.emit()">
        <mat-icon>tune</mat-icon>
    </button>

    <div *ngIf="savedFilters">
        <button mat-icon-button type="button" [matMenuTriggerFor]="savedFiltersMenu"
            angulartics2On="click">
            <mat-icon fontSet="material-icons-outlined">tune</mat-icon>
        </button>
        <mat-menu #savedFiltersMenu="matMenu">
            <button mat-menu-item
                *ngFor="let savedFilter of savedFilters"
                (click)="handleOpenSavedFiltersDialog.emit(savedFilter)">
                {{savedFilter.name}}
            </button>
        </mat-menu>
    </div>

    <div class="saved-filters">
        <div *ngFor="let savedFilter of savedFilters">
            {{savedFilter.name}}
            <button type="button" (click)="deleteSavedFilter(savedFilter.id)">Delete</button>
            <br/>
            <div>
                <mat-chip-row *ngFor="let filter of savedFilter.filters | keyvalue">
                    {{ getFilter(filter) }}
                    <button matChipRemove>
                        <mat-icon>filter_alt_off</mat-icon>
                    </button>
                </mat-chip-row>
            </div>
        </div>
    </div>
</div>
