.auto-configure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	height: 100vh;
}

.auto-configure__title {
	color: var(--mat-sidenav-content-text-color);
	margin: 0;
	font-weight: 500;
}

.auto-configure__text {
	color: var(--mat-sidenav-content-text-color);
	opacity: 0.7;
	margin: 0;
	max-width: 400px;
	text-align: center;
}

.auto-configure__notice {
	color: var(--mat-sidenav-content-text-color);
	opacity: 0.7;
	margin: 0;
	text-align: center;
	max-width: 400px;
}
