.field-wrapper {
  display: flex;
  align-items: center;
}

.value-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}

.copy-button {
  visibility: hidden;
  margin-left: 4px;
}

.field-wrapper:hover .copy-button {
  visibility: visible;
}
