<div class="field-display">
  <span class="field-value" [class.out-of-threshold]="!!isOutOfThreshold">
    {{displayValue}}
    @if (isOutOfThreshold === 'down') {
      <mat-icon class="out-of-threshold__icon">south</mat-icon>
    }
    @if (isOutOfThreshold === 'up') {
      <mat-icon class="out-of-threshold__icon">north</mat-icon>
    }
  </span>
  <button type="button" mat-icon-button
      class="field-copy-button"
      matTooltip="Copy"
      [cdkCopyToClipboard]="value()"
      (cdkCopyToClipboardCopied)="onCopyToClipboard.emit('Field value was copied to clipboard.')"
      (click)="$event.stopPropagation()">
      <mat-icon>content_copy</mat-icon>
  </button>
</div>
