<mat-form-field class="select-form-field" appearance="outline">
    <mat-label>{{normalizedLabel()}}</mat-label>
    <mat-select name="{{label()}}-{{key()}}" multiple
        [required]="required()" [disabled]="disabled()"
        attr.data-testid="record-{{label()}}-select"
        [(ngModel)]="selectedValues" (ngModelChange)="onSelectionChange($event)">
        @for (option of options; track option.value) {
            <mat-option [value]="option.value">{{option.label}}</mat-option>
        }
    </mat-select>
</mat-form-field>
