<div class="field-couple">
    <mat-form-field class="" appearance="outline">
        <mat-label>{{label}} (date)</mat-label>
        <input type="date" matInput name="{{structure.column_name}}-date" [required]="required" [disabled]="readonly"
            attr.data-testid="record-{{structure.column_name}}-date-input"
            attr.data-test-field-type="{{structure.data_type}}"
            [(ngModel)]="date" (ngModelChange)="onDateChange()">
    </mat-form-field>

    <mat-form-field class="" appearance="outline">
        <mat-label>{{label}} (time)</mat-label>
        <input type="time" matInput name="{{structure.column_name}}-time" [required]="required" [disabled]="readonly"
            attr.data-testid="record-{{structure.column_name}}-time-input"
            attr.data-test-field-type="{{structure.data_type}}"
            [(ngModel)]="time" (ngModelChange)="onTimeChange()">
    </mat-form-field>
</div>
