<div class="wrapper">
    <div class="skeleton">
        <div class="bone title"></div>
        <div class="bone description"></div>

        <div class="white-label">
            <div class="white-label-settings">
                <div class="bone form__field"></div>

                <div class="upload-buttons">
                    <div class="bone upload-button"></div>
                    <div class="bone upload-button"></div>
                </div>

                <div class="bone form__field"></div>

                <div class="bone preview"></div>
            </div>

            <div class="white-label-how-to">
                <div class="bone how-to__title"></div>
                <div class="bone how-to__line"></div>
                <div class="bone how-to__line how-to__line_short"></div>
                <div class="bone how-to__line"></div>
                <div class="bone how-to__line how-to__line_medium"></div>
                <div class="bone how-to__line"></div>
                <div class="bone how-to__line how-to__line_short"></div>
            </div>
        </div>
    </div>
</div>
