.wrapper {
    margin: var(--top-margin) auto;
    padding: 0 clamp(40px, 5vw, 100px);
    max-width: 1200px;
}

@media (width <= 600px) {
    .wrapper {
        padding: 0 16px;
        margin: 1.5em auto;
    }
}

.title {
    height: 32px;
    margin-bottom: 8px;
    width: 120px;
}

.description {
    height: 20px;
    margin-bottom: 32px;
    width: 420px;
    max-width: 100%;
}

.white-label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
}

@media (width <= 900px) {
    .white-label {
        grid-template-columns: 1fr;
        grid-row-gap: 32px;
    }
}

.form__field {
    height: 56px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 16px;
}

.upload-buttons {
    display: flex;
    gap: 24px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.upload-button {
    height: 36px;
    width: 140px;
    border-radius: 4px;
}

.preview {
    height: 240px;
    width: 100%;
    border-radius: 4px;
    margin-top: 8px;
}

.white-label-how-to {
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 20px;
    height: fit-content;
}

.how-to__title {
    height: 24px;
    width: 200px;
    margin-bottom: 16px;
}

.how-to__line {
    height: 16px;
    width: 100%;
    margin-bottom: 12px;
}

.how-to__line_short {
    width: 60%;
}

.how-to__line_medium {
    width: 80%;
}
