.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    padding: 16px;
    max-width: 420px;
    min-width: 300px;
    width: 90%;
}

.password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -16px;
}

.request-text {
    margin-bottom: 20px;
}

.email-field {
    margin-top: 8px;
    margin-bottom: 8px;
}

.change-password-button {
    margin-top: 20px;
}