.mat-mdc-dialog-content {
    margin-bottom: -20px;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-button {
    margin: 8px 0;
}

.message {
    width: 100%;
}

.message textarea {
    resize: none;
}