<form #tableFiltersForm="ngForm" class="filters-form">
    <h1 mat-dialog-title class="filters-header">
        <span>Filters for <strong>{{ data.displayTableName }}</strong> table</span>
        <a mat-icon-button mat-dialog-close
            routerLink="/dashboard/{{data.connectionID}}/{{data.tableName}}/settings"
            matTooltip="Advanced settings">
            <mat-icon>settings</mat-icon>
        </a>
    </h1>
    <app-content-loader *ngIf="!tableFilters || !tableTypes; else filterControls"></app-content-loader>
    <ng-template #filterControls>
        <mat-dialog-content class="filters-content">
            <mat-form-field class="filters-select" appearance="outline">
                <mat-label>Add filter by...</mat-label>
                <input type="text" matInput name="filter_columns"
                    [matAutocomplete]="auto"
                    [formControl]="fieldSearchControl">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="addFilter($event)">
                    <mat-option *ngFor="let field of foundFields | async"
                        [value]="field.key"
                        [disabled]="isFieldAlreadyFiltered(field.key)">
                        {{ field.label }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            @for (value of tableRowFieldsShown | keyvalue; track value.key) {
                <div class="filter-line">
                    <span class='mat-body-1 column-name'>{{ getFieldLabel(value.key) }}</span>
                    <div class="filter-line__field">
                        <ndc-dynamic
                            [ndcDynamicComponent]="getFilterComponent(value.key)"
                            [ndcDynamicInputs]="getFilterInputs(value.key)"
                            [ndcDynamicOutputs]="{
                                onFieldChange: { handler: updateField, args: ['$event', value.key] },
                                onComparatorChange: { handler: updateComparatorFromComponent, args: ['$event', value.key] }
                            }"
                        ></ndc-dynamic>
                    </div>
                    <button mat-icon-button type="button" class="filter-delete-button"
                        matTooltip="Remove"
                        (click)="removeFilter(value.key)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            }
        </mat-dialog-content>
    </ng-template>

    <mat-dialog-actions align="end">
        <button mat-flat-button color="warn"
            mat-dialog-close="reset"
            type="button"
            class="settings-form__reset-button"
            [disabled]="tableFilters?.length === 0"
            (click)="resetFilters()">
            Reset
        </button>
        <button mat-flat-button mat-dialog-close
            type="button"
            angulartics2On="click"
            angularticsAction="Filters: cancel is clicked"
            (click)="posthog.capture('Filters: cancel is clicked')">
            Cancel
        </button>
        <button mat-flat-button mat-dialog-close="filter"
            color="primary" type="submit"
            [disabled]="tableFiltersCount === 0"
            angulartics2On="click"
            angularticsAction="Filters: filter is clicked"
            (click)="posthog.capture('Filters: filter is clicked')">
            Filter
        </button>
    </mat-dialog-actions>
</form>