.filters-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 16px;
}

.filters-content {
	display: grid;
	grid-template-columns: auto 1fr 32px;
	grid-column-gap: 8px;
	align-content: flex-start;
	align-items: flex-start;
}

.filters-select {
	grid-column: 1 / -1;
}

.filter-line {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	grid-column-gap: 8px;
	align-items: flex-start;
}

.filter-line__field {
	grid-column: 2;
	min-width: 0;
}

::ng-deep .mat-dialog-container > .ng-star-inserted {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.filters-form {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

::ng-deep .mat-dialog-container {
	display: flex;
}

.filters-content {
	flex: 1 0 auto;
}

.column-name {
	margin-top: 18px;
}

.filter-delete-button {
	grid-column: 3;
	margin-top: 4px;
}

.settings-form__reset-button {
	margin-right: auto;
}
