:host {
    position: sticky;
    top: var(--mat-toolbar-standard-height);
    z-index: 2;
}

.alert {
    display: flex;
    gap: 8px;
    background-color: var(--bg-color);
    border-left: 12px solid var(--alert-theme-color);
    margin-bottom: 8px;
    padding: 12px 16px 12px 8px;
}

@media (prefers-color-scheme: dark) {
    .alert {
        --bg-color: var(--alert-dark-theme-bg);
        border-top: 1px solid var(--alert-dark-theme-color);
        border-right: 1px solid var(--alert-dark-theme-color);
        border-bottom: 1px solid var(--alert-dark-theme-color);
        border-left: 12px solid var(--alert-dark-theme-color);
    }
}

@media (prefers-color-scheme: light) {
    .alert {
        --bg-color: #F4F4F4;
    }
}

@media (width <= 600px) {
    .alert {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

.alert_error {
    --alert-theme-color: #B71C1C;
    --alert-dark-theme-color: #E53935;
    --bg-color: color-mix(in hsl, #B71C1C, transparent 95%);
    --alert-dark-theme-bg: color-mix(in hsl, #B71C1C, transparent 95%);
    border: 1px solid var(--alert-theme-color);
    border-left: 12px solid var(--alert-theme-color);
    border-radius: 4px;
    z-index: 2;
}

.alert_error .alert__icon {
    background: transparent;
    color: var(--alert-theme-color);
}

.alert_warning {
    --alert-theme-color: #F79008;
    --alert-dark-theme-color: #F79008;
    --bg-color: color-mix(in hsl, #F79008, transparent 95%);
    --alert-dark-theme-bg: color-mix(in hsl, #F79008, transparent 95%);
    border: 1px solid var(--alert-theme-color);
    border-left: 12px solid var(--alert-theme-color);
    border-radius: 4px;
}

.alert_warning .alert__icon {
    background: transparent;
    color: var(--alert-theme-color);
}

.alert_info {
    --alert-theme-color: #296EE9;
    --alert-dark-theme-color: #296EE9;
    --bg-color: color-mix(in hsl, #296EE9, transparent 95%);
    --alert-dark-theme-bg: color-mix(in hsl, #296EE9, transparent 95%);
    border: 1px solid var(--alert-theme-color);
    border-left: 12px solid var(--alert-theme-color);
    border-radius: 4px;
}

.alert_info .alert__icon {
    background: transparent;
    color: var(--alert-theme-color);
}

.alert_success {
    --alert-theme-color: #1B5E20;
    --alert-dark-theme-color: #4CAF50;
    border: 1px solid var(--alert-theme-color);
    border-left: 12px solid var(--alert-theme-color);
    border-radius: 4px;
}

.alert_success .alert__icon {
    background: transparent;
    color: var(--alert-theme-color);
}

.alert__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--alert-theme-color);
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    height: 36px;
    opacity: 0.9;
    width: 36px;
}

@media (prefers-color-scheme: dark) {
    .alert__icon {
        background: var(--alert-dark-theme-color);
    }
}

.alert__message {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 36px;
    margin: 0 !important;
}

.alert__title {
    color: var(--alert-theme-color);
    margin-bottom: 8px;
}

@media (prefers-color-scheme: dark) {
    .alert__title {
        color: inherit;
    }
}

.alert__text {
    margin: 0 !important;
}

.actions {
    margin-left: auto;
}

@media (width <= 600px) {
    .actions {
        grid-column: 1 / -1;
    }
}

.mat-flat-button {
    color: var(--text-color);
}

