.alert {
    position: sticky;
    top: 0;
    display: flex;
    gap: 12px;
    background-color: #F4F4F4;
    border-left: 12px solid var(--alert-theme-color);
    margin-bottom: 8px;
    padding: 12px 16px;
    z-index: 1;
}

.alert_error {
    --alert-theme-color: #FB2424;
    z-index: 2;
}

.alert_warning {
    --alert-theme-color: #EF6C00;
}

.alert_info {
    --alert-theme-color: #0288D1;
}

.alert_success {
    --alert-theme-color: #2E7D32;
}

.alert__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--alert-theme-color);
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    height: 36px;
    opacity: 0.9;
    width: 36px;
}

.alert__message {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 36px;
    margin: 0;
}

.alert__title {
    color: var(--alert-theme-color);
    margin-bottom: 8px;
}

.alert__text {
    margin: 0;
}

.actions {
    margin-left: auto;
}

.mat-flat-button {
    color: var(--text-color);
}

