.alert {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border-left: 4px solid var(--alert-theme-color);
    margin-bottom: 8px;
    padding: 12px 16px;
    z-index: 1;
}

.alert_error {
    --alert-theme-color: #E53935;
    z-index: 2;
}

.alert_warning {
    --alert-theme-color: #F9A825;
}

.alert_info {
    --alert-theme-color: #3258f0;
}

.alert_success {
    --alert-theme-color: #43A047;
}

.alert__icon {
    color: var(--alert-theme-color);
    margin-right: 12px;
    font-size: 22px;
    opacity: 0.9;
}

.actions {
    margin-left: auto;
}

.mat-flat-button {
    color: var(--text-color);
}

