.mat-sidenav-container {
    height: 100%;
    /* height: calc(100vh - 56px); */
    overflow-x: hidden !important;
}

.table-list-sidenav {
    max-width: 240px;
}

@media (prefers-color-scheme: dark) {
    .table-list-sidenav {
        background-color: #202020;
    }
}

@media (width <= 600px) {
    .table-list-sidenav {
        display: none;
    }
}

.side-bar_collapsed {
    position: static;
    float: left;
    display: block;
    height: 100%;
    width: 65px;
    visibility: visible !important;
    transform: translate3d(0, 0, 0);
}

@media (width <= 600px) {
    .side-bar_collapsed {
        display: none;
    }
}

.table-list-sidenav-container ::ng-deep .mat-drawer-inner-container,
.side-bar_collapsed ::ng-deep .mat-drawer-inner-container {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.table-list-sidenav-container ::ng-deep .mat-drawer:not(.mat-drawer-opened):not(.mat-drawer-animating) .mat-drawer-inner-container {
    display: block;
}

.mat-list-item {
    text-decoration: none;
}

.mat-sidenav-content {
    padding: 0 24px;
}

.toggle-button {
    margin-top: 8px;
    margin-left: 12px;
}

.toggle-button-position button {
    border-radius: 4px;
}

.toggle-button-position button mat-icon {
    border-radius: 4px;
}

.toggle-button-position button:hover {
    border-radius: 4px;
}

.toggle-button-position button:hover mat-icon {
    border-radius: 4px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px - 56px);
    max-width: 1000px;
    margin: 20px auto;
    widows: 96%;
}

.title {
    align-self: center;
}

.alerts {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.server-alert {
    display: block;
    margin-top: 24px;
}

.alerts:empty,
.server-alert:empty {
    margin-top: 0;
}

.error-details {
    margin-top: 8px;
}

.table-preview {
    display: flex;
    overflow-x: hidden;
    height: calc(100vh - 44px);
}

.table-preview-content {
    flex-grow: 1;
    width: 100%;
}

.sidenav-content__toggle-button {
    display: none !important;
}

