<app-content-loader *ngIf="loading"></app-content-loader>

<div *ngIf="dbFetchError" class="error-wrapper">
    <div class="error-box">
        <p class="mat-body-1 error-message">{{errorMessage}}</p>
        <div class="error-actions">
            <a mat-button routerLink="/edit-db/{{connectionID}}">Connection settings</a>
            <a mat-button routerLink="/connections-list">Connections list</a>
        </div>
    </div>
</div>

<ng-container *ngIf="!loading && !dbFetchError">
    <div class="toggle-button-position"
        [ngClass]="(shownTableTitles)?'toggle-button-position__opened':'toggle-button-position__closed'">
        <button mat-mini-fab class="toggle-button" (click)="sideList.toggle()">
            <mat-icon>{{ shownTableTitles ? 'chevron_left' : 'chevron_right' }} </mat-icon>
        </button>
    </div>
    <mat-sidenav-container>
        <mat-sidenav #sideList mode="side" [(opened)]="shownTableTitles">
            <app-db-tables-list
                [tables]="tablesList"
                [connectionID]="connectionID">
            </app-db-tables-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-banner></app-banner>
            <app-banner [banner]="dataSource.banner_settingsInfo"></app-banner>
            <app-banner [banner]="dataSource.banner_primaryKeysInfo"></app-banner>
            <app-banner [banner]="dataSource.banner_widgetsWarning"></app-banner>

            <app-content-loader *ngIf="dataSource === null"></app-content-loader>
            <app-db-table *ngIf="dataSource && selectedTablePermissions"
                [displayName]="selectedTableDisplayName"
                [filtersCount]="filtersCount"
                [name]="selectedTableName"
                [table]="dataSource"
                [permissions]="selectedTablePermissions"
                [connectionID]="connectionID"
                [accessLevel]="currentConnectionAccessLevel"
                (openFilters)="openTableFilters()"
                (deleteRow)="confirmDeleteRow($event)"></app-db-table>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>
