.samlConfigForm {
    display: flex;
    flex-direction: column;
    margin: 3em auto;
    max-width: 520px;
    min-width: 300px;
    width: 100%;
}

.samlConfigForm__checkbox {
    margin-top: -8px;
    margin-bottom: 20px;
}

.ssoPageHeader {
    margin-bottom: 24px !important;
}

.actions {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: var(--mat-sidenav-content-background-color);
    box-shadow: var(--shadow);
    height: 64px;
    padding: 0 max(calc(50vw - 260px), 2%);
    width: 100vw;
}

@media (prefers-color-scheme: dark) {
    .actions {
        --shadow: 0 3px 1px -2px rgba(0,0,0,.5),0 2px 2px 0 rgba(0,0,0,.64),0 1px 5px 0 rgba(0,0,0,0.85);
    }
}

@media (prefers-color-scheme: light) {
    .actions {
        --shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    }
}

.actions-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}