.radio-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.radio-line ::ng-deep .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    --mat-standard-button-toggle-selected-state-text-color: var(--color-accentedPalette-500-contrast);
    --mat-standard-button-toggle-selected-state-background-color: var(--color-accentedPalette-500);
}

@media (prefers-color-scheme: dark) {
    .radio-line ::ng-deep .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
        --mat-standard-button-toggle-selected-state-text-color: var(--color-accentedDarkPalette-500-contrast);
        --mat-standard-button-toggle-selected-state-background-color: var(--color-accentedDarkPalette-500);
    }
}