<div class="radio-line">
    <label>{{normalizedLabel()}}</label>
    <mat-button-toggle-group name="{{label()}}-{{key()}}" attr.data-testid="record-{{label()}}-boolean-radio-group"
        [hideSingleSelectionIndicator]="true"
        [disabled]="disabled()"
        [(ngModel)]="booleanValue" (ngModelChange)="onBooleanChange()">
        <mat-button-toggle [value]="true">Yes</mat-button-toggle>
        <mat-button-toggle [value]="false">No</mat-button-toggle>
        @if (isRadiogroup) {
            <mat-button-toggle value="unknown">Null</mat-button-toggle>
        }
    </mat-button-toggle-group>
</div>
