<body>
  <p>
    Hi!
  </p>
  <p>
    Administrator enabled two-factor authentication for your company <a>"{{ companyName }}"</a>. Please enable 2FA in your account. It will be required for login soon.
  </p>
  <p>
    Thanks.
  </p>
</body>