.wrapper {
    height: 100%;
    padding: 16px;
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    width: 464px;
}

@media screen and (max-width: 600px) {
    .login-page {
        width: 98%;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-button {
    margin-top: 20px;
}

.soc-buttons {
    display: flex;
    margin: 20px 0 40px;
}

@media screen and (max-width: 600px) {
    .soc-buttons {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.fb-button {
    margin-left: 16px;
    width: 224px;
}

@media screen and (max-width: 600px) {
    .fb-button {
        margin-left: 0;
    }
}

::ng-deep .soc-button .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.soc-button-icon {
    height: 16px;
    margin-right: 4px;
}

.sing-up {
    margin-top: 12px;
    text-align: center;
}

.link {
    color: #3258F0;
    text-decoration: none;
}
