<app-banner></app-banner>

    <div class="wrapper">
    <div class="login-page">
        <form action="" class="login-form"
            #loginForm="ngForm"
            (ngSubmit)="loginUser()">
            <h1 class="mat-h1">Welcome to Autoadmin</h1>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" #email="ngModel" required autofocus
                    angulartics2On="change"
                    angularticsAction="Login: email is changed"
                    [(ngModel)]="user.email" >
                <!-- <mat-error *ngIf="hostname.errors?.required && (hostname.invalid && hostname.touched)">Hostname should not be empty.</mat-error> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" #password="ngModel" required
                    angulartics2On="change"
                    angularticsAction="Login: password is changed"
                    [(ngModel)]="user.password">
                <mat-hint>
                    <a routerLink="/forget-password" class="link">Forgot password</a>
                </mat-hint>
                <!-- <mat-error *ngIf="port.errors?.required && (port.invalid && port.touched)">Port should not be empty.</mat-error> -->
            </mat-form-field>

            <button type="submit" mat-raised-button color="accent" class="login-button"
                angulartics2On="click"
                angularticsAction="Login: login is clicked"
                [disabled]="submitting || loginForm.form.invalid || loginForm.form.pristine">
                {{ submitting ? 'Submitting' : 'Login'}}
            </button>
            <div class="soc-buttons">
                <!--<button type="button" mat-stroked-button class="soc-button"
                    angulartics2On="click"
                    angularticsAction="Login: login with google is clicked"
                    (click)="loginWithGoogle()">
                    <img src="../../../assets/icons/google_logo.webp" alt="" class="soc-button-icon">
                    Continue with Google
                </button>-->

                <div id="google_login_button"></div>

                <button type="button" mat-stroked-button class="fb-button"
                    angulartics2On="click"
                    angularticsAction="Login: login with facebook is clicked"
                    (click)="loginWithFacebook()">
                    <img src="../../../assets/icons/fb_logo.png" alt="" class="soc-button-icon">
                    Continue with Facebook
                </button>
            </div>
        </form>

        <!-- <p class="sing-up mat-body-1">Need an account?
            <a routerLink="/registration" class="link">
                Sign up
            </a>
        </p> -->

    </div>
</div>

