.wrapper {
    min-width: 300px;
    margin: 0 auto 16px;
    width: 90%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 36px 70px 24px 0;
}

.header-actions {
    display: flex;
    gap: 20px;
}

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.empty-state__text {
    color: rgba(0,0,0,0.5);
    padding: 1rem 0;
    text-align: center;
}

.widget-settings {
    display: grid;
    grid-template-columns: minmax(10%, 130px) 1fr 2fr 1fr 2fr 50px;
    align-items: start;
    grid-gap: 0 20px;
}

.widget-field-name {
    align-self: baseline;
    margin-top: 8px;
    word-break: break-all;
}

/* ::ng-deep .CodeMirror {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.34);
    height: auto;
    margin-bottom: 20px;
    min-height: 78px;
} */

.code-editor-box {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 0;
    margin-bottom: 20px;
    overflow-y: auto;
    resize: vertical;
}

.code-editor-box ::ng-deep .ngs-code-editor {
    height: 100%;
}

.widget-params__label {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 12px;
    font-weight: 600;
}

.widget-params__shutter {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
    height: 100%;
    width: 100%;
}

.widget-delete-button {
    margin-top: 4px;
}

.actions {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    height: 64px;
    /* padding: 0 max(calc(50vw - 500px), 2%); */
    padding: 0 calc(5% + 70px) 0 5%;
    width: 100vw;
    z-index: 10;
}