.wrapper {
    min-width: 300px;
    margin: 0 auto 16px;
    width: 90%;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 36px 70px 24px 0;
}

.header-actions-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}

.header-actions {
    display: flex;
    gap: 16px;
}

.header-links {
    display: flex;
    gap: 16px;
}

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-state__actions {
    display: flex;
    gap: 12px;
}

.widgets-hint {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px !important;
    text-align: center;
    width: clamp(300px, 75vw, 800px);
}

.widgets-hint__title {
    display: inline-block;
    font-size: 1.25em;
    margin-bottom: 4px;
}

.widgets-hint__text {
    color: rgba(0, 0, 0, 0.64);
}

@media (prefers-color-scheme: dark) {
    .widgets-hint__text {
        color: rgba(255, 255, 255, 0.64);
    }
}

.widget-examples {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    margin-top: 32px !important;
    width: clamp(300px, 80vw, 1200px);
}

.widget-example {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 4px;
    padding: 16px 16px 0;
}

@media (prefers-color-scheme: dark) {
    .widget-example {
        border-color: rgba(255,255,255,0.12);
        background-color: #202020;
    }
}

.widget-example_row-2 {
    grid-row: 2;
}

.widget-example_row-1-2 {
    grid-row: span 2;
}

.examples-arrow {
    color: var(--color-accentedPalette-500);
    margin: 0 auto 12px;
}

.widget-settings {
    display: grid;
    grid-template-columns: minmax(10%, 130px) 1fr 2fr 1fr 2fr 50px;
    align-items: start;
    grid-gap: 0 20px;
}

.widget-item {
    display: contents;
}

.actions {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mat-sidenav-content-background-color);
    box-shadow: var(--shadow);
    height: 64px;
    /* padding: 0 max(calc(50vw - 500px), 2%); */
    padding: 0 calc(5% + 70px) 0 5%;
    width: 100vw;
    z-index: 10;
}

@media (prefers-color-scheme: dark) {
    .actions {
        --shadow: 0 3px 1px -2px rgba(0,0,0,.5),0 2px 2px 0 rgba(0,0,0,.64),0 1px 5px 0 rgba(0,0,0,0.85);
    }
}

@media (prefers-color-scheme: light) {
    .actions {
        --shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    }
}