.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 0 auto 40px;
    width: 100%;
}

.form__line {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form__field {
    height: 44px;
    width: 100%;
}

.form__field_full {
    grid-column: 1 / span 2;
}

.form__logo {
    flex-shrink: 0;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.actions {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--mat-sidenav-content-background-color);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    height: 64px;
    padding: 0 max(calc(50vw - 325px), 2%);
    width: 100vw;
}

.actions__button {
    border-radius: 4px;
    height: 36px;
    width: 72px;
    mix-blend-mode: normal !important;
    z-index: 2;
}

.actions__button_left {
    margin-right: auto;
}
