.box {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.edit-button {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 8px;
    /* mix-blend-mode: normal !important; */
}

.saved-filter {
    height: 32px;
    border-radius: 4px;
}

.saved-filter_1 {
    width: 100px;
}

.saved-filter_2 {
    width: 150px;
}

.saved-filter_3 {
    width: 200px;
}