<h1 mat-dialog-title>Confirm row delete from {{ selectedTableName }} table</h1>
<div mat-dialog-content>
    <div class="mat-body">You are going to delete table rows with primary key(s)
        <br>
        <ul class="listOfPrimaryKeys">
            <li *ngFor="let selectedRow of selectedRows; let i = index">
                <strong *ngFor="let attribute of selectedRow | keyvalue; let last = last">
                    {{attribute.key}} = {{attribute.value}}<span *ngIf="!last">,</span>
                </strong>
                <span *ngIf="i !== selectedRows.length - 1; else dot">;</span>
                <ng-template #dot>
                    <span>.</span>
                </ng-template>
            </li>
        </ul>
    </div>
    <p class="mat-body">Please confirm.</p>

</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="warn" (click)="deleteRows()" [disabled]="submitting">Delete</button>
</div>