.connectForm__hostname,
.connectForm__port {
    padding-bottom: 20px;
}

@media (width <= 600px) {
    .connectForm__hostname {
        padding-bottom: 44px;
    }

    .connectForm__port {
        padding-bottom: 0;
    }
}