.full-width {
    position: relative;
    width: 100%;
}

.loader {
    position: absolute;
    top: 12px;
    right: 12px;
}

.disabled {
    pointer-events: none;
}

.foreign-key {
    display: grid;
    grid-template-columns: 1fr 36px;
}

.foreign-key ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    margin-bottom: 8px;
}

.hint-link {
    color: var(--color-accentedPalette-500);
}

.foreign-key__link {
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
    color: inherit;
}

.foreign-key__link-icon {
    margin-left: auto;
    margin-top: 12px;
}