<h1 mat-dialog-title>Enter your password to confirm</h1>
<form action="" #saveUserNameForm="ngForm" (ngSubmit)="saveUserName()">
    <div mat-dialog-content>
        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="password" name="password" #passwordField="ngModel" required>
            <mat-error *ngIf="passwordField.errors?.required && (passwordField.invalid && passwordField.touched)">Password should not be empty.</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" type="submit"
            [disabled]="submitting || saveUserNameForm.form.invalid">
                Save
        </button>
    </div>
</form>
