.connectPage {
    padding-top: 16px;
    padding-bottom: 20px;
}

.form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em 1.5em;
    margin: 0 auto 40px;
    width: clamp(18.75em, 96%, 50em);
}

@media screen and (max-width: 600px) {
    .form {
        display: flex;
        flex-direction: column;
        padding: 0 9vw;
        width: 100%;
    }
}

.credentials-fieldset {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1 / span 4;
    grid-row: 5 / span 4;
}

.credentials-fieldset-no-warning {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1 / span 4;
    grid-row: 4 / span 4;
}

.mat-h1 {
    margin-top: 2vw;
}

.warningMessage {
    display: flex;
    align-items: center;
    /* border: 2px solid rgba(0, 0, 0, 0.87); */
    /* border-radius: 6px; */
    background: #F5F5F5;
    margin-bottom: 8px;
    padding: 16px 12px;
}

.warningMessage__icon {
    flex-shrink: 0;
    margin-right: 12px;
}

.warningMessage .mat-body-1 {
    margin-bottom: 0;
}

.connectForm__title {
    grid-column: 1 / span 3;
}

.connectForm__hostname,
.connectForm__port {
    padding-bottom: 2em;
}

.connectForm__fullLine {
    grid-column: 1 / span 4;
}

.connectForm__typeSwitch {
    margin-bottom: 12px;
}

.connectForm__typeSwitch ::ng-deep .mat-button-toggle-checked {
    background-color: rgba(0, 0, 0, 0.08) !important;
}

.radio-button {
    margin-right: 20px;
}

.form-textarea {
    resize: none;
}

.test-connection-actions {
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
}

.test-connection-message {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 4px;
}

.actions {
    grid-column: 1 / span 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 12px;
}

.delete-button {
    margin-right: auto;
}

.test-button {
    margin-right: 20px;
}

.instruction__docker {
    margin-top: 32px;
    margin-bottom: auto;
}

.github-button {
    margin-bottom: 20px;
}

.github-button ::ng-deep .mdc-button__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.github-icon {
    margin-right: 8px;
    margin-left: -4px;
    height: 22px;
    width: 22px;
}

.docker-instruction {
    margin-top: 20px;
}

.instruction-steps {
    list-style-position: inside;
}

.instruction-step {
    margin: 1em 0;
}

.instruction-step__link {
    color: var(--color-accentedPalette-500);
    text-decoration: none;
}

.instruction-step__link:hover {
    color: #FE5E85;
    text-decoration: underline;
}

.instruction-command {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 8px 12px;
}

