.connectPage {
    padding-top: 16px;
    padding-bottom: 20px;
}

.form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em 1.5em;
    margin: 0 auto 40px;
    width: clamp(18.75em, 96%, 50em);
}

@media screen and (max-width: 600px) {
    .form {
        display: flex;
        flex-direction: column;
    }
}

.mat-h1 {
    margin-top: 2vw;
}

.warningMessage {
    display: flex;
    align-items: center;
    /* border: 2px solid rgba(0, 0, 0, 0.87); */
    /* border-radius: 6px; */
    background: #F5F5F5;
    margin-bottom: 8px;
    padding: 16px 12px;
}

.warningMessage__icon {
    flex-shrink: 0;
    margin-right: 12px;
}

.warningMessage .mat-body-1 {
    margin-bottom: 0;
}

.encription-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.encription-password {
    display: flex;
    margin-top: 32px;
    margin-bottom: 8px;
    width: 100%;
}

.encription-password__copy-button {
    margin-top: 4px;
    margin-left: 12px;
}

.connectForm__title,
.connectForm__hostname {
    grid-column: 1 / span 3;
}

.connectForm__hostname,
.connectForm__port {
    padding-bottom: 2em;
}

.connectForm__fullLine {
    grid-column: 1 / span 4;
}

.connectForm__firstHalf {
    grid-column: 1 / span 2;
}

.connectForm__secondHalf {
    grid-column: 3 / span 2;
}

.connectForm__typeSwitch {
    margin-bottom: 12px;
}

.connectForm__typeSwitch ::ng-deep .mat-button-toggle-checked {
    background-color: rgba(0, 0, 0, 0.08) !important;
}

.radio-button {
    margin-right: 20px;
}

.checkbox-line {
    margin-bottom: 16px;
}

.form-textarea {
    resize: none;
}

.actions {
    grid-column: 1 / span 4;
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}

.delete-button {
    margin-right: auto;
}

.test-button {
    margin-right: 20px;
}

.docker-instruction {
    margin-top: 20px;
}

.download-button {
    margin-left: 8px;
}

.instruction {
    margin-bottom: 36px;
}

.instruction-steps {
    list-style-position: inside;
    margin-bottom: 24px;
}

.instruction-step {
    margin: 1em 0;
}

.instruction-step__link {
    color: var(--color-accentedPalette-500);
    text-decoration: none;
}

.instruction-step__link:hover {
    color: #FE5E85;
    text-decoration: underline;
}

.instruction-command {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 8px 12px;
}

.advanced-settings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.25em 1.5em;
}

@media screen and (max-width: 600px) {
    .advanced-settings {
        display: flex;
        flex-direction: column;
    }
}

.advanced-settings__fullLine {
    grid-column: 1 / span 3;
}

.connectForm__agent-connection-button {
    color: inherit;
    background: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}
