<div class="db-table-header" #focus>
    <div class="db-table-title">
        <h2 class="mat-h2">{{ displayName }}</h2>
    </div>
    <div class="db-table-actions">
        <mat-form-field appearance="standard" class="search-input">
            <input matInput name="search"
                placeholder="Search"
                [(ngModel)]="searchString"
                (keyup.enter)="handleSearch()">
            <button mat-icon-button matSuffix *ngIf="searchString"
                (click)="clearSearch()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div class="actions">
            <a mat-button *ngIf="tableData && tableData.permissions && tableData.permissions.add && (!tableData.isEmptyTable || searchString || getFiltersCount(activeFilters))"
                routerLink="/dashboard/{{connectionID}}/{{name}}/entry"
                angulartics2On="click"
                angularticsAction="Tables: add row page is opened">
                Add row
            </a>
            <a mat-button *ngIf="accessLevel === 'edit'"
                routerLink="/dashboard/{{connectionID}}/{{name}}/settings"
                angulartics2On="click"
                angularticsAction="Tables: settings dialog is opened">
                Settings
            </a>
            <a mat-button *ngIf="accessLevel === 'edit' && tableData"
                routerLink="/dashboard/{{connectionID}}/{{name}}/widgets"
                [ngClass]="{'action_active': tableData.widgetsCount}"
                angulartics2On="click"
                angularticsAction="Tables: widgets page is opened">
                Widgets
            </a>
            <a mat-button *ngIf="accessLevel === 'edit' && tableData"
                routerLink="/dashboard/{{connectionID}}/{{name}}/actions"
                angulartics2On="click"
                angularticsAction="Tables: actions page is opened">
                Actions
            </a>
            <button mat-button [ngClass]="{'action_active': getFiltersCount(activeFilters)}"
                angulartics2On="click"
                angularticsAction="Tables: settings dialog is opened"
                (click)="handleOpenFilters()">
                Filter
            </button>
            <div *ngIf="tableData" class="db-table-manage-columns-button">
                <button *ngIf="tableData.displayedColumns && tableData.columns" mat-button [matMenuTriggerFor]="menu">
                    Columns ({{ tableData.displayedColumns.length - 1 }} / {{ tableData.columns.length }})
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item
                        role="menuitemcheckbox"
                        *ngFor="let column of tableData.columns"
                        (click)="$event.stopPropagation();">
                        <mat-checkbox color="primary"
                            class="db-table-header__columnsCheckbox"
                            (change)="tableData.changleColumnList()"
                            [(ngModel)]="column.selected">
                            {{column.normalizedTitle}}
                        </mat-checkbox>
                    </button>
                </mat-menu>
            </div>
        </div>


    </div>
</div>

<div *ngIf="getFiltersCount(activeFilters) !== 0" class="active-filters">
    <mat-chip-list
        cdkDropList
        cdkDropListOrientation="horizontal">
        <mat-chip
            class="example-box"
            cdkDrag
            *ngFor="let activeFilter of activeFilters | keyvalue"
            (removed)="removeFilter.emit(activeFilter.key)"
            >
            {{ getFilter(activeFilter.key, activeFilter.value) }}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>
    </mat-chip-list>
    <button mat-button color="warn" *ngIf="getFiltersCount(activeFilters) > 1" (click)="resetAllFilters.emit()">Reset filters</button>
</div>


<div class="mat-elevation-z4 table-wrapper">

    <div class="spinner-wrapper" *ngIf="tableData && tableData.loading$ | async">
        <mat-spinner diameter="48"></mat-spinner>
    </div>

    <div class="table-box">
        <table *ngIf="tableData" mat-table matSort [dataSource]="tableData" NgMatTableQueryReflector class="table">

            <ng-container [matColumnDef]="column" *ngFor="let column of tableData.displayedDataColumns">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!isSortable(column)"> {{ tableData.dataNormalizedColumns[column] }} </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="isForeignKey(column); else contentCell" data-hj-suppress>
                        <a routerLink="/dashboard/{{connectionID}}/{{tableData.foreignKeys[column].referenced_table_name}}/entry"
                            class="foreign-key-link"
                            [queryParams]="getForeignKeyQueryParams(tableData.foreignKeys[column], element[column])">
                            {{ getCellValue(tableData.foreignKeys[column], element[column]) }}
                        </a>
                    </div>
                    <ng-template #contentCell>
                        <div *ngIf="isWidget(column); else simpleValue" data-hj-suppress>
                            {{ getWidgetValue(column, element[column]) }}
                        </div>
                        <ng-template #simpleValue>
                            <div data-hj-suppress class="table-cell-content">
                                {{element[column] || '—'}}
                            </div>
                        </ng-template>
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions" [stickyEnd]="true">
                <th mat-header-cell *matHeaderCellDef>Actions</th>

                <td mat-cell *matCellDef="let element">
                    <a mat-icon-button *ngIf="tableData.permissions.edit"
                        routerLink="/dashboard/{{connectionID}}/{{name}}/entry"
                        angulartics2On="click"
                        angularticsAction="Tables: edit row is opened"
                        matTooltip="Edit row"
                        [queryParams]="tableData.getQueryParams(element)">
                        <mat-icon>create</mat-icon>
                    </a>
                    <button type="button" mat-icon-button *ngIf="tableData.permissions.delete"
                        angulartics2On="click"
                        angularticsAction="Tables: delete row is opened"
                        matTooltip="Delete row"
                        (click)="deleteRow.emit(tableData.getQueryParams(element))">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableData.displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableData.displayedColumns;"></tr>
        </table>
    </div>

    <div *ngIf="tableData.isEmptyTable && (getFiltersCount(activeFilters) || searchString)" class="empty-table">
        <span class="mat-body">No matching was found for the given filter</span>
    </div>

    <div *ngIf="tableData.isEmptyTable && !(getFiltersCount(activeFilters) || searchString)" class="empty-table">
        <a mat-button color="accent"
            routerLink="/dashboard/{{connectionID}}/{{name}}/entry"
            angulartics2On="click"
            angularticsAction="Tables: add row page is opened">
            <mat-icon>add</mat-icon>
            Add row
        </a>
    </div>

    <mat-paginator
        [pageSize]="30"
        [pageSizeOptions]="[10, 30, 100, 300]"
        [showFirstLastButtons]="true">
    </mat-paginator>
    <!--(page)="scrollUp()"}-->
</div>
