/* .db-table-header__columnsCheckbox .mat-checkbox-layout,
.db-table-header__columnsCheckbox .mat-checkbox-label {
    width: 100%;
    background-color: red;
} */

.hidden {
    display: none;
}

.db-table-header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 16px;
    width: 100%;
}

.db-table-title {
    flex-grow: 50;
    display: flex;
    align-items: center;
    margin-right: auto;
    z-index: 1;
}

.db-table-title .mat-h2 {
    margin-bottom: 0;
}

.db-table-bulk-actions {
    display: flex;
    align-items: center;
    height: 62.6px;
}

.search-input {
    margin-top: -24px;
    min-width: 220px;
}

.db-table-actions {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: -16px;
}

.action_active {
    position: relative;
}

.action_active::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    background: rgba(0, 0, 0, 0.87);
    border-radius: 50%;
    height: 6px;
    width: 6px;
}

.action-button_disabled {
    pointer-events: none;
}

.db-table-manage-columns-button {
    display: inline-block;
}

.active-filters {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
}

.empty-table-message {
    display: inline-block;
    margin-top: 40px;
    text-align: center;
    width: 100%;
}

.table-wrapper {
    position: relative;
    min-height: 100px;
    width: calc(86vw - 4rem);
    transition: width 400ms;
}

@media screen and (min-width: 1900px) {
    .table-wrapper {
        width: calc(98vw - 292px);
    }
}

.table-box {
    overflow-x: auto;
    width: 100%;
}

.db-table {
    display: grid;
    width: 100%;
}

.db-table_withActions {
    grid-template-columns: 40px repeat(var(--colCount), auto) var(--lastColumnWidth);
}

.db-table_withoutActions {
    grid-template-columns: repeat(var(--colCount), auto) !important;
}

.db-table ::ng-deep .mat-row,
.db-table ::ng-deep .mat-header-row {
    display: contents;
}

.db-table ::ng-deep .mat-cell,
.db-table ::ng-deep .mat-header-cell,
.db-table ::ng-deep .mat-footer-cell {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    padding-right: 24px;
}

.db-table ::ng-deep .mat-cell:first-of-type,
.db-table ::ng-deep .mat-header-cell:first-of-type,
.db-table ::ng-deep .mat-footer-cell:first-of-type {
    padding-left: 24px;
    padding-right: 24px;
}

.db-table_withActions ::ng-deep .mat-column-select {
    padding-top: 12px;
    padding-left: 20px !important;
    padding-right: 0 !important;
}

.db-table_withActions ::ng-deep .mat-header-row .mat-column-select {
    padding-top: 18px;
}

th.mat-header-cell, td.mat-cell {
    padding-right: 20px;
}

.table-cell-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

tr.mat-row {
    height: 40px;
}

tr.mat-row:hover {
    background: rgba(0, 0, 0, 0.04);
  }

.mat-table-sticky {
    padding-left: 16px;
    padding-right: 16px !important;
}

.spinner-wrapper {
    position: absolute;
    top: 76px; left: 0;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    height: calc(100% - 112px);
    width: 100%;
    z-index: 2;
}

.spinner-wrapper ::ng-deep.mat-spinner {
    position: relative;
    top: 40px;
}

.foreign-key-link {
    color: var(--color-accentedPalette-500);
}

.empty-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}

.empty-table .mat-button {
    border-radius: 0;
    margin: -20px 0;
    padding: 8px 0;
    width: 100%;
}
