@import '~@angular/material/theming';

@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$md-app-primary-color: (
    50 : #e6ebfd,
    100 : #c2cdfb,
    200 : #99acf8,
    300 : #708af5,
    400 : #5171f2,
    500 : #3258f0,
    600 : #2d50ee,
    700 : #2647ec,
    800 : #1f3de9,
    900 : #132de5,
    A100 : #ffffff,
    A200 : #e0e3ff,
    A400 : #adb5ff,
    A700 : #949eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-app-accented-color: (
    50 : #fde9ee,
    100 : #fac8d4,
    200 : #f6a4b8,
    300 : #f27f9b,
    400 : #f06385,
    500 : #ed4870,
    600 : #eb4168,
    700 : #e8385d,
    800 : #e53053,
    900 : #e02141,
    A100 : #ffffff,
    A200 : #ffe5e9,
    A400 : #ffb3be,
    A700 : #ff99a8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-app-warn-color: (
    50 : #fce7e7,
    100 : #f7c4c2,
    200 : #f29c9a,
    300 : #ed7472,
    400 : #e95753,
    500 : #e53935,
    600 : #e23330,
    700 : #de2c28,
    800 : #da2422,
    900 : #d31716,
    A100 : #ffffff,
    A200 : #ffd1d1,
    A400 : #ff9f9e,
    A700 : #ff8585,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$custom-theme-primary: mat-palette($md-app-primary-color);
$custom-theme-accent: mat-palette($md-app-accented-color);
$custom-theme-warn: mat-palette($md-app-warn-color);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

$custom-typography: mat-typography-config(
  $font-family: 'Poppins, sans-serif'
);

@include angular-material-theme($custom-theme);
@include angular-material-typography($custom-typography);