@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/ttcn';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #0a0a0a;
    font-family: Poppins, sans-serif;
}

html, body { height: 100%; }
body {
    background-color: #fff;
    margin: 0;
}

.mainLayout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
