<div class="image-box">
    <mat-form-field class="image-box__url" appearance="outline">
        <mat-label>{{normalizedLabel()}}</mat-label>
        @if (prefix) {
            <span matTextPrefix>{{prefix}}</span>
        }
        <input matInput type="text" name="{{label()}}-{{key()}}" #image="ngModel"
            [required]="required()" [disabled]="disabled()" [readonly]="readonly()"
            urlValidator
            [urlPrefix]="prefix"
            attr.data-testid="record-{{label()}}-image"
            [(ngModel)]="value" (ngModelChange)="onFieldChange.emit($event)">
            @if (image.errors?.isInvalidURL) {
                <mat-error>URL is invalid.</mat-error>
            }
    </mat-form-field>
    @if (!image.errors?.isInvalidURL) {
        <img [src]="imageUrl" class="image-box__image">
    }
</div>
