<div class="feature-notification">
    <div class="feature-notification__content">
        <h1 class="feature-notification__title">Brand your admin panel with a custom domain!</h1>
        <p class="feature-notification__description">
            Strengthen your brand identity by putting the admin panel on your own domain.
        </p>
    </div>
    <div class="actions">
        <a mat-button class="actions__secondary" routerLink="/company">
            Set up domain
        </a>
        <button mat-flat-button color="accent" class="actions__primary" (click)="dismissNotification()">
            Got it
        </button>
    </div>
</div>
