@if (loading()) {
    <div class="widget-loading">
        <mat-spinner diameter="32"></mat-spinner>
    </div>
} @else if (error()) {
    <div class="widget-error">
        <span>{{ error() }}</span>
    </div>
} @else if (savedQuery()) {
    @switch (savedQuery()!.widget_type) {
            @case ('chart') {
                <app-chart-widget
                    [widget]="widget"
                    [connectionId]="connectionId"
                    [preloadedQuery]="savedQuery()!"
                    [preloadedData]="queryData()">
                </app-chart-widget>
            }
            @case ('table') {
                <app-table-widget
                    [widget]="widget"
                    [connectionId]="connectionId"
                    [preloadedQuery]="savedQuery()!"
                    [preloadedData]="queryData()">
                </app-table-widget>
            }
            @case ('counter') {
                <app-counter-widget
                    [widget]="widget"
                    [connectionId]="connectionId"
                    [preloadedQuery]="savedQuery()!"
                    [preloadedData]="queryData()">
                </app-counter-widget>
            }
            @case ('text') {
                <app-text-widget
                    [widget]="widget"
                    [preloadedQuery]="savedQuery()!">
                </app-text-widget>
            }
            @default {
                <div class="widget-error">
                    <span>Unknown widget type: {{ savedQuery()!.widget_type }}</span>
                </div>
            }
        }
}
