<div class="file">
    <div class="header">
        <span class="file-label">{{ normalizedLabel() }}</span>

        @if (widgetStructure() && widgetStructure().widget_params.type) {
            @if (initError) {
                <span class="mat-body-1">{{ initError }}</span>
            } @else {
                <span class="mat-body-1">{{ widgetStructure().widget_params.type }}</span>
            }
        } @else {
            <mat-radio-group
                name="{{label()}}-{{key()}}-file-type"
                class="file-types"
                [(ngModel)]="fileType"
                (ngModelChange)="convertValue($event)">
                <mat-radio-button value='hex' class="file-type" [disabled]="isNotSwitcherActive">
                    HEX
                </mat-radio-button>
                <mat-radio-button value='base64' class="file-type" [disabled]="isNotSwitcherActive">
                    Base64
                </mat-radio-button>
                <mat-radio-button value='file' class="file-type" [disabled]="isNotSwitcherActive">
                    File
                </mat-radio-button>
            </mat-radio-group>
        }
    </div>
    @if (!initError) {
        @if (fileType === 'hex') {
            <mat-form-field appearance="outline" class="file-raw-data">
                <mat-label>Hex</mat-label>
                <textarea matInput resizeToFitContent rows="8" hexValidator
                    name="{{label()}}-{{key()}}-hex-content"
                    #hexContent="ngModel"
                    [(ngModel)]="hexData" (ngModelChange)="onHexChange()"
                ></textarea>
                @if (hexContent.errors?.isInvalidHex) {
                    <mat-error>Invalid hex.</mat-error>
                }
            </mat-form-field>
        }

        @if (fileType === 'base64') {
            <mat-form-field appearance="outline" class="file-raw-data">
                <mat-label>Base64</mat-label>
                <textarea matInput resizeToFitContent rows="8" base64Validator
                    name="{{label()}}-{{key()}}-base64-content"
                    #base64Content="ngModel"
                    [(ngModel)]="base64Data" (ngModelChange)="onBase64Change()"
                ></textarea>
                @if (base64Content.errors?.isInvalidBase64 || isNotSwitcherActive) {
                    <mat-error>Invalid base64.</mat-error>
                }
            </mat-form-field>
        }

        @if (fileType === 'file') {
            <div class="file-uploader-appearance">
                <input type="file" class="file-input" name="{{label()}}-{{key()}}-file" [required]="required()" [disabled]="readonly()"
                    (change)="onFileSelected($event)" #fileUpload>

                <span class="file-name mat-body-2">{{ value() ? 'File is uploaded.' : 'No file uploaded yet.' }}</span>

                <button type="button" mat-stroked-button class="upload-btn"
                    (click)="fileUpload.click()">
                    Upload file
                </button>

                @if (hexData) {
                    <a [href]="fileURL" type="button" mat-stroked-button class="upload-btn" download>
                        Download file
                    </a>
                }
            </div>
        }
    }
</div>