<div class="wrapper">
    <div class="skeleton">
        <div class="bone title"></div>
        <div class="bone description"></div>

        <div class="form">
            <div class="bone form__field"></div>
            <div class="bone form__field"></div>
            <div class="bone form__field"></div>
            <div class="bone form__field"></div>
            <div class="bone form__field"></div>
            <div class="bone form__textarea"></div>
            <div class="bone form__field"></div>
            <div class="bone form__field"></div>

            <div class="form__checkboxes">
                <div class="bone form__checkbox"></div>
                <div class="bone form__checkbox"></div>
                <div class="bone form__checkbox"></div>
            </div>

            <div class="bone form__field"></div>
            <div class="bone form__field"></div>
            <div class="bone form__field"></div>
            <div class="bone form__field"></div>

            <div class="form__actions">
                <div class="bone form__button"></div>
            </div>
        </div>
    </div>
</div>
