<div class="profile-layout">
    <app-profile-sidebar activeTab="company"></app-profile-sidebar>

    <div class="profile-main">
        <app-alert></app-alert>

        <app-placeholder-company *ngIf="!company || !currentUser || !members"></app-placeholder-company>

        <div *ngIf="company && currentUser && members" class="companyPage">
    <h1 class="mat-h1 companyPageHeader">
        <strong>{{ company.name }}</strong> company settings
    </h1>

    <form *ngIf="currentUser && currentUser.role === 'ADMIN'"
        class="text-filed-edit"
        (ngSubmit)="changeCompanyName()">
        <mat-form-field appearance="outline" class="text-filed-edit__input">
            <mat-label>Company name</mat-label>
            <input matInput name="company-name" #nameField="ngModel"
                [disabled]="submittingChangedName"
                data-testid="company-name-input"
                angulartics2On="change"
                angularticsAction="Company: company name is edited"
                (change)="posthog.capture('Company: company name is edited')"
                [(ngModel)]="company.name">
        </mat-form-field>
        <div class="text-filed-edit__buttons">
            <button type="submit"
                mat-button color="primary"
                [disabled]="!nameField.dirty || submittingChangedName">
                {{submittingChangedName ? 'Saving' : 'Save'}}
            </button>
        </div>
    </form>

    <div class="tableHeader">
        <h2 class="heading-2 tableHeader__heading">Members <span *ngIf="currentPlan === 'free' && isSaas" data-testid="company-members-max-string">(max 3)</span></h2>
        <div class="tableHeader__actions">
            <div data-testid="company-invitation-button-wrapper"
                [matTooltip]="currentPlan === 'free' && usersCount >= 3 && isSaas ? 'To add more members please upgrade your plan.' : null">
                <button *ngIf="currentUser && currentUser.role === 'ADMIN'"
                    mat-flat-button type="button" color="primary"
                    data-testid="company-invitation-button"
                    angulartics2On="click"
                    angularticsAction="Company: invite member is clicked"
                    (click)="handleAddMemberDialogOpen(); posthog.capture('Company: invite member is clicked')"
                    [disabled]="currentPlan === 'free' && usersCount >= 3 && isSaas">
                    Invite member
                    <mat-icon *ngIf="currentPlan === 'free' && usersCount >= 3 && isSaas">
                        info
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>

    <app-placeholder-table-data *ngIf="submittingUsersChange"></app-placeholder-table-data>
    <table *ngIf="currentUser && members.length && !submittingUsersChange" mat-table [dataSource]="members" class="mat-elevation-z2 company-members-table">
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element; let i = index"
            class="company-member-cell company-member-cell_email"
            data-label="Email"
            attr.data-testid="company-member-email-{{i}}-cell">
            <div class="company-member-cell_email-value">
                <mat-icon *ngIf="element.externalRegistrationProvider === null"
                    class="company-member-cell_email-icon"
                    matTooltip="Email registration">
                    mail
                </mat-icon>
                <mat-icon *ngIf="element.externalRegistrationProvider !== null"
                    class="company-member-cell_email-icon"
                    [svgIcon]="authProviderIcons[element.externalRegistrationProvider]"
                    matTooltip="{{element.externalRegistrationProvider}} registration">
                </mat-icon>
                <span>{{element.email}}</span>
            </div>
        </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element; let i = index"
                data-label="Name"
                class="company-member-cell company-member-cell_name">
                <span *ngIf="!element.invitedUserEmail" attr.data-testid="company-member-name-{{i}}-cell">{{element.name || '—'}}</span>
            </td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef style="padding-left: 24px">Role</th>
            <td mat-cell *matCellDef="let element; let i = index"
                data-label="Role"
                class="company-member-cell">
                <div *ngIf="currentUser && currentUser.role === 'ADMIN' && (adminsCount > 1 || element.role !== 'ADMIN') && !element.invitedUserEmail; else noSelect">
                    <button mat-button type="button" [matMenuTriggerFor]="menu"
                        style="width: 100%"
                        angulartics2On="click"
                        angularticsAction="Company: role is clicked"
                        (click)="posthog.capture('Company: role is clicked')">
                        {{ companyRolesName[element.role] }}
                        <mat-icon iconPositionEnd style="margin-left: auto">arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item class="role-option"
                            (click)="updateRole(element.id, CompanyMemberRole.CAO)">
                            <div class="role-option-header">
                                <strong>Account Owner</strong>
                                <mat-icon *ngIf="element.role === CompanyMemberRole.CAO" class="role-option-header__mark">check</mat-icon>
                            </div>
                            <div class="role-option__description">Can manage company information, <br> and has full control over databases</div>
                        </button>
                        <button mat-menu-item class="role-option"
                            (click)="updateRole(element.id, CompanyMemberRole.SystemAdmin)">
                            <div class="role-option-header">
                                <strong>System Admin</strong>
                                <mat-icon *ngIf="element.role === CompanyMemberRole.SystemAdmin" class="role-option-header__mark">check</mat-icon>
                            </div>
                            <div class="role-option__description">Can view company information, <br> and has full control over databases</div>
                        </button>
                        <button mat-menu-item class="role-option"
                            (click)="updateRole(element.id, CompanyMemberRole.Member)">
                            <div class="role-option-header">
                                <strong>Member</strong>
                                <mat-icon *ngIf="element.role === CompanyMemberRole.Member" class="role-option-header__mark">check</mat-icon>
                            </div>
                            <div class="role-option__description">Can view company information, <br> and can manage existing databases</div>
                        </button>
                    </mat-menu>
                </div>


                <!--<mat-select *ngIf="currentUser && currentUser.role === 'ADMIN' && (adminsCount > 1 || element.role !== 'ADMIN') && !element.invitedUserEmail; else noSelect"
                    attr.data-testid="company-member-role-{{i}}-select"
                    class="role-select"
                    angulartics2On="click"
                    angularticsAction="Company: role is clicked"
                    (click)="posthog.capture('Company: role is clicked')"
                    [(ngModel)]="element.role"
                    (ngModelChange)="updateRole(element.id, element.role)">
                    <mat-option value="ADMIN" attr.data-testid="company-member-superadmin-role-{{i}}-select-option">
                        Account Owner
                    </mat-option>
                    <mat-option value="DB_ADMIN" attr.data-testid="company-member-dbadmin-role-{{i}}-select-option">
                        System Admin
                    </mat-option>
                    <mat-option value="USER" attr.data-testid="company-member-user-role-{{i}}-select-option">
                        Member
                    </mat-option>
                </mat-select>-->
                <ng-template #noSelect>
                    <span attr.data-testid="company-member-user-role-{{i}}-cell" style="padding: 0 8px">
                        {{element.role === "ADMIN" ? 'Account Owner' : null}}
                        {{element.role === "DB_ADMIN" ? 'System Admin' : null}}
                        {{element.role === "USER" ? 'Member' : null}}
                    </span>
                </ng-template>
            </td>
        </ng-container>

        <!-- 2fa Column -->
        <ng-container matColumnDef="twoFA">
            <th mat-header-cell *matHeaderCellDef>2fa</th>
            <td mat-cell *matCellDef="let element; let i = index"
                data-label="2fa"
                class="company-member-cell">
                <div *ngIf="!element.invitedUserEmail">
                    <mat-icon *ngIf="element.is_2fa_enabled; else noTwoFA" color="accente"
                        attr.data-testid="company-member-2fa-{{i}}-enabled-icon">
                        done
                    </mat-icon>
                    <ng-template #noTwoFA>
                        <mat-icon attr.data-testid="company-member-2fa-{{i}}-disabled-icon">remove</mat-icon>
                    </ng-template>
                </div>
            </td>
        </ng-container>

        <!-- Active Column -->
        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef>Suspended</th>
            <td mat-cell *matCellDef="let element; let i = index"
                data-label="Suspended"
                class="company-member-cell_content-center company-member-cell">
                <mat-slide-toggle *ngIf="!element.invitedUserEmail"
                    class="active-status-toggle"
                    [disabled]="unsuspendedAdminsCount === 1 && element.role === 'ADMIN' && currentUser.email === element.email"
                    attr.data-testid="company-member-active-{{i}}-toggle"
                    angulartics2On="click"
                    angularticsAction="Company: suspend user is toggled"
                    (click)="posthog.capture('Company: suspend user is toggled')"
                    [angularticsProperties]="{'enable': element.suspended}"
                    [(ngModel)]="element.suspended"
                    (change)="switchSuspendance($event.checked, element.email)">
                </mat-slide-toggle>
            </td>
        </ng-container>

        <!-- Active Column -->
        <ng-container matColumnDef="access">
            <th mat-header-cell *matHeaderCellDef matTooltip="Access to connection">Access</th>
            <td mat-cell *matCellDef="let element; let i = index"
                data-label="Access"
                class="company-member-cell company-member-cell_content-center">
                <mat-icon *ngIf="element.has_groups" class="company-member-cell_accessed" fontSet="material-symbols-outlined">check_circle</mat-icon>
                <mat-icon *ngIf="!element.has_groups" class="company-member-cell_not-accessed" fontSet="material-symbols-outlined">cancel</mat-icon>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index"
                class="company-member-cell-action">
                <button mat-button *ngIf="element.invitedUserEmail; else deleteUserButton"
                    type="button" color="warn"
                    attr.data-testid="company-member-revoke-{{i}}-button"
                    angulartics2On="click"
                    angularticsAction="Company: Revoke invitation is clicked"
                    (click)="handleRevokeInvitationDialogOpen(element.email); posthog.capture('Company: Revoke invitation is clicked')">
                    Revoke
                </button>
                <ng-template #deleteUserButton>
                    <button mat-button *ngIf="(adminsCount > 1 && currentUser.role === 'ADMIN') || element.role === 'USER' || element.role === 'DB_ADMIN'"
                        type="button" color="warn"
                        attr.data-testid="company-member-delete-{{i}}-button"
                        angulartics2On="click"
                        angularticsAction="Company: Delete member is clicked"
                        (click)="handleDeleteMemberDialogOpen(element); posthog.capture('Company: Delete member is clicked')">
                        Delete
                    </button>
                </ng-template>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="membersTableDisplayedColumns" class="company-members-table-heading"></tr>
        <tr mat-row *matRowDef="let row; columns: membersTableDisplayedColumns;" class="company-member-row"></tr>
    </table>

    <mat-slide-toggle class="test-connections-toggle" *ngIf="currentUser && currentUser.role === 'ADMIN'"
        name="showTestConnections"
        data-testid="company-test-connections-switch"
        [disabled]="isDemo"
        [(ngModel)]="company.show_test_connections"
        (change)="changeShowTestConnections($event.checked)">
        Show demo admin panels
    </mat-slide-toggle>
        </div>
    </div>
</div>
