.wrapper {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    width: clamp(300px, 33vw, 600px);
}

.password-form {
    display: flex;
    flex-direction: column;
}

.password-input {
    margin-top: 8px;
    width: 100%;
}

.new-password-button {
    align-self: flex-end;
}