.settings-page {
    padding: 0 max(calc(50vw - 325px), 10%);
}

.mat-h1 {
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.settings-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 72px;
}

.form-group-ordering {
    display: flex;
}

.form-group-ordering__ordering-by {
    width: 50%
}

.form-group-ordering__order-options {
    margin-top: 24px;
    margin-left: 16px;
}

.form-group-ordering__order-options * {
    margin-right: 16px;
}

.logo-uploader {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #171d39;
    border-radius: 4px;
    max-width: 160px;
    height: 44px;
    object-fit: contain;
    padding: 4px 8px;
}

.logo-img {
    height: 40px;
    max-width: 136px;
    object-fit: contain;
}

.logo-input {
    flex-grow: 1;
}

.logo-stub {
    margin-top: 12px;
}

.color-theme {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    align-items: center;
}

.color-item {
    position: relative;
}

.color-input {
    width: 100%;
}

.color-input ::ng-deep input.mat-mdc-input-element {
    box-sizing: border-box;
    padding-top: 4px;
    padding-left: 24px;
}

.color-sample {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: var(--color);
    border-radius: 4px;
    height: 24px;
    margin-top: 4px;
    width: 24px;
}

/* .file-input {
    display: none;
}

.file-uploader-appearance {

}

.file-label {
    margin-right: 20px;
}

.file-name {
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
    margin-right: 20px;
}

.upload-btn {
    margin-right: 12px;
} */

.actions {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    height: 64px;
    padding: 0 max(calc(50vw - 325px), 10%);
    width: 100vw;
}

.settings-form__back-button {
    margin-right: auto;
}

.settings-form__save-button {
    margin-left: 20px;
}

.settings-banner ::ng-deep .banner-wrapper {
    margin-top: 60px;
}