.boolean-icon {
	transform: scale(0.85);
}

@media (prefers-color-scheme: light) {
	.boolean-icon-true {
		color: #1b5e20;
	}

	.boolean-icon-false {
		color: #b71c1c;
	}
}

@media (prefers-color-scheme: dark) {
	.boolean-icon-true {
		color: #4caf50;
	}

	.boolean-icon-false {
		color: #e53935;
	}
}
