<div *ngIf="isRadiogroup; else checkboxElement" class="radio-line">
    <label id="">{{label}} {{ required ? '*' : '' }}</label>
    <mat-radio-group [required]="required" name="{{structure.column_name}}"
        attr.data-testid="record-{{structure.column_name}}-radio-group"
        attr.data-test-field-type="{{structure.data_type}}"
        class="radio-group"
        [disabled]="readonly"
        [(ngModel)]="value" (ngModelChange)="onFieldChange.emit($event)">
        <mat-radio-button [value]=true class="radio-button">
            yes
        </mat-radio-button>
        <mat-radio-button [value]=false class="radio-button">
            no
        </mat-radio-button>
        <mat-radio-button [value]=null class="radio-button">
            unknown
        </mat-radio-button>
    </mat-radio-group>
</div>

<ng-template #checkboxElement>
    <mat-checkbox [required]="required" name="{{structure.column_name}}"
        attr.data-testid="record-{{structure.column_name}}-checkbox"
        attr.data-test-field-type="{{structure.data_type}}"
        labelPosition="before"
        class="checkbox-line"
        [disabled]="readonly"
        [(ngModel)]="value" (ngModelChange)="onFieldChange.emit($event)">
        {{label}} {{ required ? '*' : '' }}
    </mat-checkbox>
</ng-template>
