.drawer {
    height: 100%;
}

.mat-drawer {
    padding-bottom: 16px;
    width: clamp(200px, 18%, 320px);
}

.drawer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 0;
}

.drawer-header .mat-h1 {
    margin: 0;
}

.no-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: rgba(0,0,0,0.5);
    padding: 1rem 0;
    text-align: center;
}

.new-action-input {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: -20px;
    margin-left: 16px;
    width: calc(100% - 32px);
}

.mat-drawer-content {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
}

.action {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    gap: 24px;
    margin-top: 20px;
}

.action-settings {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 420px;
    width: 50%;
}

::ng-deep .mat-menu-content {
    padding: 16px !important;
}

.icons-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.icon-button:checked + ::ng-deep .mat-icon-button {
    background-color: rgba(0,0,0,0.16);
}

.google-icons-link {
    color: #3258f0;
    text-decoration: none;
}

.radio-button_first {
    margin-left: 32px;
}

.radio-button_second {
    margin-left: 16px;
}

.action__actions {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.action-codeSnippet,
.action-codeSnippet ::ng-deep .CodeMirror {
    height: 100%;
    width: 100%;
}
