.drawer {
    height: 100%;
}

.mat-drawer {
    padding-bottom: 16px;
    width: clamp(200px, 18%, 320px);
}

.drawer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 0;
}

.drawer-header .mat-h1 {
    margin: 0;
}

.no-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: rgba(0,0,0,0.5);
    padding: 1rem 0;
    text-align: center;
}

/* .new-action-input {
    background-color: transparent;
    margin-top: 12px;
    margin-left: 16px;
    margin-bottom: -24px;
    width: calc(100% - 32px);
}

.new-action-input ::ng-deep.mat-mdc-form-field-wrapper {
    width: calc(100% - 16px);
} */

.new-action-input {
    background-color: transparent;
    margin-left: 16px;
    min-width: 220px;
    width: calc(100% - 32px);
}

.new-action-input ::ng-deep * {
    background-color: transparent !important;
}

.new-action-input ::ng-deep .mdc-text-field {
    padding: 0 !important;
}

.new-action-input ::ng-deep .mat-mdc-form-field-infix {
    min-height: 0;
}

.new-action-input ::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 8px;
    padding-bottom: 8px;
}

.new-action-input ::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
    width: 36px;
    height: 36px;
    padding: 6px;
}

.action-error {
    position: absolute;
    top: 44px;
    left: 0;
    color: #e53935;
    font-size: 0.75em;
    width: 100%;
}

.mat-drawer-content {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
}

.action {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    gap: 24px;
    margin-top: 20px;
}

.action-settings {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 420px;
    width: 50%;
}

::ng-deep .mat-menu-content {
    padding: 16px !important;
}

.list-action-list-item ::ng-deep .mdc-list-item__primary-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.list-action-list-item_active {
    color: var(--color-accentedPalette-500);
}

.list-action-list-item_notSaved .mat-icon {
    color: #F9A825;
}

.list-action-list-item__savingIcon {
    position: relative;
    margin-left: auto;
    margin-right: 8px !important;
}

.list-action-list-item__savingIcon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    display: block;
    background: rgba(0,0,0,0.87);
    height: 2px;
    width: 40px;
}

.list-action-list-item_active .list-action-list-item__savingIcon::after {
    background: var(--color-accentedPalette-500);
}

.list-action-list-item_notSaved .list-action-list-item__savingIcon::after {
    background: #F9A825;
}

.actions-icon-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: -8px;
    margin-bottom: 16px;
}

.icons-menu {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.icons-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-gap: 4px;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.icon-radio-button:checked + ::ng-deep.icon-button {
    background-color: rgba(0,0,0,0.16);
}

.apply-icon-button {
    align-self: flex-end;
    margin-top: 4px;
}

.google-icons-link {
    color: var(--color-primaryPalette-500);
    text-decoration: none;
}

.radio-button_first {
    margin-left: 16px;
}

.radio-button_second {
    margin-left: 8px;
}

.action__actions {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.action-codeSnippet,
.action-codeSnippet ::ng-deep .CodeMirror {
    font-size: 12px;
    line-height: 14px;
    height: 100%;
    width: 100%;
}

.code-snippet-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: calc(100vh - 200px);
    overflow-y: auto;
}

.lang-select {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 156px;
    z-index: 5;
}

.lang-select ::ng-deep .mdc-text-field {
    background-color: #fff;
}

::ng-deep .CodeMirror-wrap pre.CodeMirror-line,
::ng-deep .CodeMirror-wrap pre.CodeMirror-line-like {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.copy-button {
    position: absolute;
    right: 184px;
    top: 26px;
    background-color: #fff;
    z-index: 5;
}

@media screen and (max-width: 1400px) {
    .copy-button {
        right: 20px;
        top: 100px;
    }
}

.confirmation-checkbox {
    margin-top: 12px;
}