.page {
    display: flex;
    flex-direction: column;
    margin: 3em auto;
    max-width: 520px;
    min-width: 300px;
    width: 96%;
}

.user-settings {
    margin-top: 32px;
}

.user-settings__section-heading {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-settings__name {
    width: 100%
}

.user-settings__save-button {
    margin-top: -20px;
    margin-left: -84px;
}

.user-settings__value {
    margin-bottom: 0;
}

.user-settings__button {
    margin-top: 8px;
    margin-bottom: 40px;
}

.user-settings__value_capitalized {
    text-transform: capitalize;
}

.twoFA-toggle {
    display: flex;
    align-items: center;
    gap: 12px;
}

.twoFA-toggle .twoFAhint {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.qr-verification {
    margin-top: 28px;
}

.delete-button {
    align-self: center;
    margin-top: 80px;
}