<app-alert></app-alert>
<app-alert *ngIf="currentUser.id && !currentUser.isActive" [alert]="emailVerificationWarning"></app-alert>

<div class="page">
    <h1 class="mat-h1">
        Account settings
    </h1>

    <div class="user-settings mat-body-1">
        <form class="user-settings__section-heading">
            <mat-form-field appearance="outline" class="user-settings__name">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="userName" name="user-name" #nameField="ngModel" data-testid="user-name-input">
            </mat-form-field>
            <button type="button" mat-button color="primary" data-testid="save-user-name-button"
                class="user-settings__save-button"
                (click)="changeUserName()"
                [disabled]="!nameField.dirty || submittingChangedName">
                Save
            </button>
        </form>


        <div class="user-settings__section-heading">
            <strong>Email:</strong>
            <span class="mat-body-1 user-settings__value">{{currentUser.email}}</span>
        </div>
        <button mat-button color="primary" data-testid="user-settings__button"
                class="user-settings__button"
                [disabled]="!currentUser.isActive"
                (click)="changeEmail()">
                Change email
        </button>

        <div class="user-settings__section-heading">
            <strong>Password:</strong>
        </div>
        <a mat-button routerLink="/change-password" color="primary" data-testid="change-user-password-link"
            [disabled]="!currentUser.isActive"
            class="user-settings__button">
            Change password
        </a>


        <div class="user-settings__section-heading">
            <strong>Current plan:</strong>
            <a mat-button color="accent" class="upgrade-button"
                routerLink="/upgrade">
                Manage payment settings
            </a>
        </div>
        <span class="user-settings__value">
            <span class="user-settings__value_capitalized">{{currentPlan}}</span>
            <span *ngIf="currentPlan !== 'free'">
                ({{ isAnnually ? 'annually' : 'monthly' }})
            </span>

        </span>

    </div>

    <button mat-button class="delete-button"
        type="button"
        (click)="confirmDeleteAccount()">
        Delete account
    </button>
</div>
