<app-alert></app-alert>
<app-alert *ngIf="currentUser.id && !currentUser.isActive" [alert]="emailVerificationWarning"></app-alert>

<div class="page">
    <h1 class="mat-h1">
        Account settings
    </h1>

    <div class="user-settings mat-body-1">
        <form class="user-settings__section-heading" (ngSubmit)="changeUserName()">
            <mat-form-field appearance="outline" class="user-settings__name">
                <mat-label>Name</mat-label>
                <input matInput name="user-name" #nameField="ngModel"
                    data-testid="user-name-input"
                    angulartics2On="change"
                    angularticsAction="User settings: user name is edited"
                    [(ngModel)]="userName">
            </mat-form-field>
            <button type="submit" mat-button color="primary" data-testid="save-user-name-button"
                class="user-settings__save-button"
                [disabled]="!nameField.dirty || submittingChangedName">
                Save
            </button>
        </form>

        <div class="user-settings__section-heading">
            <strong>Email:</strong>
            <span class="mat-body-1 user-settings__value">{{currentUser.email}}</span>
        </div>
        <button mat-stroked-button color="primary" data-testid="user-settings__button"
                class="user-settings__button"
                [disabled]="!currentUser.isActive"
                (click)="changeEmail()">
                Change email
        </button>

        <div class="user-settings__section-heading">
            <strong>Password:</strong>
        </div>
        <a mat-stroked-button routerLink="/change-password" color="primary" data-testid="change-user-password-link"
            angulartics2On="click"
            angularticsAction="User settings: change password is clicked"
            [disabled]="!currentUser.isActive"
            class="user-settings__button">
            Change password
        </a>


        <div class="user-settings__section-heading">
            <strong>Current plan:</strong>
            <span class="user-settings__value">
                <span class="user-settings__value_capitalized">{{currentPlan}}</span>
                <span *ngIf="currentPlan !== 'free'">
                    ({{ isAnnually ? 'annually' : 'monthly' }})
                </span>
            </span>
        </div>
        <a mat-stroked-button color="accent" class="upgrade-button"
            routerLink="/upgrade"
            class="user-settings__button"
            angulartics2On="click"
            angularticsAction="User settings: Manage payment settings is clicked">
            Manage payment settings
        </a>


        <div>
            <div class="twoFA-toggle">
                <mat-slide-toggle [(ngModel)]="is2FAEnabledToggle"
                    angulartics2On="click"
                    angularticsAction="User settings: 2fa is toggled"
                    [angularticsProperties]="{'enable': is2FAEnabledToggle}"
                    [disabled]="!currentUser.isActive"
                    (change)="switch2FA($event)">
                    Two-factor authentication
                </mat-slide-toggle>
                <mat-icon *ngIf="!currentUser.isActive" class="twoFAhint"
                    matTooltip="Available only after email confirmation.">
                    info_outline
                </mat-icon>
            </div>

            <form *ngIf="is2FAswitchingOffSettingsShown" class="qr-verification" (ngSubmit)="switchOff2FA()">
                <mat-form-field appearance="outline" class="user-settings__name">
                    <mat-label>Enter the code from your authenticator</mat-label>
                    <input matInput [(ngModel)]="authCode" name="code" #codeField="ngModel">
                </mat-form-field>
                <button type="submit" mat-button color="primary">
                    Disable
                </button>
            </form>
        </div>

    </div>

    <button mat-button class="delete-button"
        type="button"
        (click)="confirmDeleteAccount()">
        Delete account
    </button>
</div>
