.page {
    display: flex;
    flex-direction: column;
    margin: 3em auto;
    max-width: 520px;
    min-width: 300px;
    width: 96%;
}

.mat-h1 {
    margin-bottom: 1em;
}

.user-settings {
    margin-top: 32px;
}

.user-settings__section-heading {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-settings__name {
    width: 100%
}

.user-settings__save-button {
    margin-top: -16px;
    margin-left: -84px;
}

.user-settings__value {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 28px;
}

.user-settings__value_capitalized {
    text-transform: capitalize;
}

.delete-button {
    align-self: center;
    margin-top: 80px;
}