.page {
    display: flex;
    flex-direction: column;
    margin: 3em auto;
    max-width: 520px;
    min-width: 300px;
    width: 96%;
}

.user-settings {
    margin-top: 32px;
}

.user-settings__name-form {
    display: flex;
    align-items: center;
    margin-bottom: -24px;
}

.user-settings__section-heading {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
    margin-bottom: 8px;
}

.user-settings__text-input {
    width: 100%
}

.user-settings__save-button {
    margin-top: -20px;
    margin-left: -68px;
}

.user-settings__value {
    margin-bottom: 0;
}

.twoFA-toggle {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
}

.twoFA-toggle .twoFAhint {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.qr-verification {
    margin-top: 28px;
}

.api-key-form {
    display: flex;
    align-items: center;
}

.api-key-form__generate-button {
    margin-top: -20px;
    margin-left: -82px;
}

.api-key-value {
    display: flex;
    margin-bottom: 8px;
    width: 100%;
}

.api-key-value__copy-button {
    margin-top: 4px;
    margin-left: 12px;
}

.api-key-list-item:hover {
    background: var(--color-primaryPalette-50);
}

.api-key {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
}

.delete-button {
    align-self: center;
    margin-top: 80px;
}