<mat-form-field class="phone-form-field" appearance="outline">
    <mat-label>{{normalizedLabel}}</mat-label>
    <ngx-mat-input-tel
        [preferredCountries]="preferredCountries"
        [enableAutoCountrySelect]="enableAutoCountrySelect"
        [enablePlaceholder]="enablePlaceholder"
        [enableSearch]="true"
        [format]="'international'"
        [inputId]="'phone-' + key"
        attr.data-testid="record-{{label}}-phone"
        [(value)]="value"
        (valueChange)="onPhoneNumberChange($event)">
    </ngx-mat-input-tel>
</mat-form-field>