<div class="ai-panel-sidebar ai-panel-sidebar_open"
    [ngClass]="{'ai-panel-sidebar_expanded': isExpanded}">
</div>
<div class="ai-panel-sidebar-content ai-panel-sidebar-content_open"
    [ngClass]="{'ai-panel-sidebar-content_expanded': isExpanded, 'ai-panel-sidebar-content_sidebar-collapsed': !sidebarExpanded}">
    <div class="ai-panel-sidebar__header">
        <h2 class="mat-heading-2 ai-panel-sidebar__title">
            <mat-icon svgIcon="ai_rocket" class="ai-icon"></mat-icon>
            <span *ngIf="isExpanded">AI insights for {{displayName}}</span>
            <span *ngIf="!isExpanded">AI insights</span>
        </h2>
        <div class="ai-panel-sidebar__actions">
            <button mat-icon-button (click)="toggleExpand()">
                <mat-icon>{{isExpanded ? 'close_fullscreen' : 'open_in_full'}}</mat-icon>
            </button>
            <button mat-icon-button (click)="handleClose()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <div class="ai-panel-chat">
        <div *ngIf="messagesChain.length; else suggestions" class="ai-message-chain-box" #chatContainer>
            <div class="ai-message-chain">
                <div *ngFor="let message of messagesChain" class="{{message.type}}-message">
                    <span style="white-space: pre-wrap" *ngIf="message.type == 'user'">{{message.text}}</span>
                    <markdown *ngIf="message.type == 'ai'" mermaid>{{message.text}}</markdown>
                </div>
            </div>
        </div>

        <ng-template #suggestions>
            <div class="ai-welcome">
                <div class="ai-welcome__message">
                    <p>Explore patterns, issues, and summaries instantly.</p>
                </div>

                <div class="ai-welcome__section" *ngIf="aiSuggestions.length">
                    <p class="ai-welcome__section-title">Suggestions for this table:</p>
                    <div class="suggestions-container">
                        <button *ngFor="let suggestion of aiSuggestions"
                            class="suggestion-chip"
                            (click)="createThread(suggestion.prompt)"
                            angulartics2On="click"
                            angularticsAction="AI panel: suggestion is clicked">
                            <span>{{suggestion.title}}</span>
                        </button>
                    </div>
                </div>

                <div class="ai-welcome__section">
                    <p class="ai-welcome__section-title">Templates:</p>
                    <div class="templates-container">
                        <button *ngFor="let template of aiRequestTemplates"
                            class="template-card"
                            (click)="createThread(template.prompt)"
                            angulartics2On="click"
                            angularticsAction="AI panel: template is clicked">
                            <mat-icon class="template-card__icon" fontSet="material-icons-outlined">{{template.icon}}</mat-icon>
                            <div class="template-card__content">
                                <span class="template-card__title">{{template.title}}</span>
                                <span class="template-card__description">{{template.description}}</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>

        <div class="loading" *ngIf="submitting">
            <div class="loading-content">
                <span class="loading-text">Generating an answer</span>
                <div class="loading-dots">
                    <span class="loading-dot"></span>
                    <span class="loading-dot"></span>
                    <span class="loading-dot"></span>
                </div>
            </div>
        </div>

        <form (ngSubmit)="threadID ? sendMessage() : createThread()" class="ai-message-form">
            <mat-form-field class="form-field" appearance="outline" class="ai-message-form__textarea">
                <mat-label class="ai-message-form__label">Ask a question about this table...</mat-label>
                <textarea matInput name="message"
                    class="ai-panel-sidebar__message"
                    [rows]="textareaRows"
                    data-testid="user-message"
                    maxlength="255"
                    (keydown)="onKeydown($event)"
                    [(ngModel)]="message">
                </textarea>
            </mat-form-field>

            <div class="ai-message-form__footer">
                <span class="ai-message-form__char-count">{{charactrsNumber}} / 256</span>
                <button mat-icon-button type="submit"
                    class="ai-message-form__button">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </form>

        <div class="footer">
            <p class="mat-small">
                AI may provide inaccurate responses.<br/>Check our <a href="https://rocketadmin.com/privacy/" class="link">Privacy policy</a>.
            </p>
        </div>
    </div>
</div>
