<app-alert></app-alert>
<app-placeholder-table-widgets *ngIf="!widgets"></app-placeholder-table-widgets>

<div *ngIf="widgets" class="wrapper">
    <header class="header">
        <app-breadcrumbs [crumbs]="getCrumbs(currentConnection.title || currentConnection.database)" class="row-breadcrumbs"></app-breadcrumbs>

        <div *ngIf="widgets.length" class="header-actions-box">
            <div class="header-actions">
                <button  mat-stroked-button
                    type="button"
                    (click)="openClearAllConfirmation()"
                    [disabled]="fields.length === 0 && widgets.length === 0">
                    Clear All
                </button>
                <button mat-stroked-button color="accent"
                    type="button"
                    angulartics2On="click"
                    angularticsAction="Widgets: add widget is clicked"
                    (click)="addNewWidget(); posthog.capture('Widgets: add widget is clicked')"
                    [disabled]="fields.length === 0 || widgets.length === fieldsCount">
                    <mat-icon>add</mat-icon>
                    Add UI widget
                </button>
            </div>
            <div class="header-links">
                <a mat-button color="primary"
                    href="https://docs.rocketadmin.com/Reference/UI%20Widgets/widgets_definition"
                    target="_blank"
                    rel="noopener noreferrer">
                    What are UI Widgets
                    <mat-icon>open_in_new</mat-icon>
                </a>
                <a mat-button color="primary"
                    href="https://docs.rocketadmin.com/Reference/UI%20Widgets/widgets_management"
                    target="_blank"
                    rel="noopener noreferrer">
                    How to manage UI Widgets
                    <mat-icon>open_in_new</mat-icon>
                </a>
            </div>
        </div>

    </header>

    <form *ngIf="widgets && widgets.length; else emptyState" (ngSubmit)="updateWidgets()" class="widget-settings">
        <app-widget *ngFor="let widget of widgets; let i = index"
            class="widget-item"
            [index]="i"
            [widgetType]="widget.widget_type"
            [widget]="widget"
            [fields]="fields"
            [widgetTypes]="widgetTypes"
            [isReadonlyParams]="isReadOnly(widget.widget_type)"
            [codeEditorTheme]="codeEditorTheme"
            (onSelectWidgetField)="selectWidgetField($event)"
            (onWidgetTypeChange)="widgetTypeChange($event)"
            (onWidgetParamsChange)="widgetParamsChange($event)"
            (onWidgetDelete)="openDeleteWidgetDialog($event)">
        </app-widget>


        <div class="actions">
            <a mat-stroked-button routerLink="/dashboard/{{connectionID}}/{{tableName}}">
                Back
            </a>

            <button mat-flat-button color="primary"
                type="submit" [disabled]="submitting">
                Save
            </button>
        </div>
    </form>

    <ng-template #emptyState>
        <app-widgets-empty-state (onAddWidget)="addNewWidget()"></app-widgets-empty-state>

        <div class="actions">
            <a mat-stroked-button routerLink="/dashboard/{{connectionID}}/{{tableName}}">
                Back
            </a>
        </div>
    </ng-template>
</div>