<mat-form-field class="select-form-field" appearance="outline">
    <mat-label>{{normalizedLabel()}}</mat-label>
    <mat-select name="{{label()}}-{{key()}}"
        [required]="required()" [disabled]="disabled()" [readonly]="readonly()"
        attr.data-testid="record-{{label()}}-select"
        [(ngModel)]="value" (ngModelChange)="onFieldChange.emit($event)">
        @for (option of options; track option.value) {
            <mat-option [value]="option.value">
                {{option.label}}
            </mat-option>
        }
    </mat-select>
</mat-form-field>
