.credentials-fieldset__1-2-columns {
    grid-column: 1 / span 2;
}

.credentials-fieldset__3-4-columns {
    grid-column: 3 / span 2;
}

.credentials-fieldset__1-3-columns {
    grid-column: 1 / span 3;
}

.credentials-fieldset__1-4-columns {
    grid-column: 1 / span 4;
}

.credentials-fieldset__hint-link {
    color: inherit;
}

.credentials-fieldset__hint-button {
    color: inherit;
    background: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.advanced-settings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.25em 1.5em;
}

@media screen and (max-width: 600px) {
    .advanced-settings {
        display: flex;
        flex-direction: column;
    }
}

.advanced-settings__fullLine {
    grid-column: 1 / span 3;
}

.checkbox-line {
    margin-bottom: 16px;
}