<app-alert></app-alert>
<div class="wrapper">
    <h1 class="mat-h1">Change your password</h1>
    <form #newPasswordForm="ngForm" class="new-password-form" (ngSubmit)="updatePassword()">
        <mat-form-field appearance="outline" class="password-input">
            <mat-label>Enter new password</mat-label>
            <input type="password" matInput [(ngModel)]="newPassword" name="userPassword" #userPassword="ngModel" required>
            <mat-error *ngIf="userPassword.errors?.required && (userPassword.invalid && userPassword.touched)">Cannot be not empty.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="new-password-button"
            [disabled]="submitting || newPasswordForm.form.invalid">
            Change
        </button>
    </form>
</div>
