name: backend
on: push
jobs:
  test:
    runs-on:
      labels: ubuntu-latest-4-cores
    steps:
      - uses: actions/checkout@v3
      - uses: extractions/setup-just@v1
      - name: run tests
        run: just test
  license:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: earthly/actions/setup-earthly@v1
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - uses: extractions/setup-just@v1
      - name: license checker
        run: 'cd backend && npx license-checker --onlyAllow="MIT;ISC;Python-2.0;Apache-2.0;BSD;MPL;CC;Custom: http://github.com/dscape/statsd-parser;" --excludePrivatePackages'
  lint:
    runs-on:
      labels: ubuntu-latest-4-cores
    steps:
      - uses: actions/checkout@v3
      - uses: extractions/setup-just@v1
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - run: cd backend && yarn install
      - run: cd backend && yarn run lint
