.widget-field-name {
    align-self: baseline;
    margin-top: 8px;
    word-break: break-all;
}

.widget-type ::ng-deep .mat-mdc-form-field-hint-wrapper {
    --mdc-outlined-button-container-height: 24px;
    --mat-outlined-button-horizontal-padding: 12px;

    padding: 8px 4px;
}

/* .widget-type__docs-link {
    color: var(--color-accentedDarkPalette-500);
} */

.code-editor-box {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 0;
    margin-bottom: 20px;
    overflow-y: auto;
    resize: vertical;
}

.code-editor-box ::ng-deep .ngs-code-editor {
    height: 100%;
}

.widget-params__label {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 12px;
    font-weight: 600;
}

.widget-params__shutter {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
    height: 100%;
    width: 100%;
}

.widget-delete-button {
    margin-top: 4px;
}